.certifications {
    position: relative;
    padding: 50px 0 60px 0;
    color: #04120C;
    background: #DCE0E1;
}

.certifications h4 {
    color: #04120C;
    padding: 0 0 25px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 800;
    text-align: center;
}

.certifications .progress {
    background-color: #DADADA;
    width: 80%;
    margin: 20px auto 0;
}

.certifications .slick-initialized .slick-slide {
    margin: 0 25px;
}

.certifications-item img {
    filter: grayscale(100%);
    cursor: pointer;
    margin: 0 auto;
    transition: all .25s linear 0s;
}

.certifications-item img:hover {
    filter: grayscale(0);
}

@media (min-width: 768px) {

    .certifications {
        background: transparent;
        padding: 10px 0 60px 0;
    }

    .certifications h4 {
        padding: 0 15px 0 0;
        font-size: 15px;
    }

    .certifications-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .certifications-slider {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .certifications-item {
        padding: 0 15px;
    }

    .certifications-logo-1 {
        max-width: 55px;
    }

    .certifications-logo-2 {
        max-width: 105px;
    }

    .certifications-logo-3 {
        max-width: 160px;
    }

    .certifications .progress {
        display: none;
    }

}

@media (min-width: 1200px) {

    .certifications h4 {
        padding: 0 35px 0 0;
        font-size: 17px;
    }

    .certifications-item {
        padding: 0 30px;
    }

    .certifications-logo-1 {
        max-width: 96px;
    }

    .certifications-logo-2 {
        max-width: 185px;
    }

    .certifications-logo-3 {
        max-width: 284px;
    }

    .certifications {
        padding: 30px 0 90px 0;
    }
}

@media (min-width: 768px) and (max-width: 1350px) {
    .certifications-area {
        width: 70%;
    }

    .certifications-slider {
        flex-wrap: nowrap;
    }
}