.masthead {
    position: relative;
    padding: 0 0;
}

.masthead-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.masthead-background-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.masthead-background-content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 9;
    position: relative;
    padding: 60px 0 150px;
    background: rgba(4,18,12,0.65)
}

.masthead-background-content::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    right: 0;
    bottom: -33px;
    transform: skew(0, -4deg);
    background: #fff;
}

.masthead-background-content-wrapper p {
    margin: 0 0 10px;
    padding: 0 0 0 0;
    font-size: 13px;
    font-weight: 900;
    font-family: 'Urbanist', sans-serif;
    color: #28B47A;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.masthead-background-content-wrapper h1 {
    padding-bottom: 18px;
    color: #FFFFFF;
}

.masthead-background-content .container {
    position: relative;
}

.masthead-testimonial {
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(4,18,12,0.10);
    padding: 30px 30px 15px;
    color: #04120C;
    max-width: 390px;
    position: absolute;
    right: 40px;
    bottom: -236px;
}

.masthead-testimonial p {
    text-transform: none;
    letter-spacing: 0px;
    color: #04120C;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    padding-bottom: 15px;
}

.testimonial-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.masthead-testimonial h5 {
    color: #04120C;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.masthead-testimonial ul,
.masthead-testimonial li{
    margin: 0;
    padding: 0;
}

.masthead-testimonial li::before {
    display: none;
}

.masthead-testimonial li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    color: #FFC02E;
}

.info-col {
    padding-right: 10px;
}

.testimonial-quote {
    font-size: 25px;
    color: #F1F2F1;
    margin-top: -20px;
    display: block;
    margin-left: -15px;
}


@media (min-width: 768px) {
    .masthead-background-content {
        padding: 80px 0 180px;
    }

    .masthead-background-content::before {
        height: 80px;
        bottom: -45px;
        transform: skew(0, -3deg);
    }

    .masthead-background-content-wrapper p {
        font-size: 15px;
        margin-bottom: 2px;
    }

    .masthead-background-content h1 {
        font-size: 48px;
    }
}

@media (min-width: 1200px) {
    .masthead-background-content {
        padding: 140px 0 180px;
        min-height: 760px;
    }

    .masthead-background-content-wrapper p {
        font-size: 17px;
        margin-bottom: 2px;
    }

    .masthead-background-content h1 {
        font-size: 72px;
    }

    .masthead-background-content-wrapper {
        max-width: 1024px;
    }

    .masthead-background-content::before {
        height: 123px;
        bottom: -68px;
        transform: skew(0, -3deg);
    }

    .masthead-testimonial {
        padding: 30px 50px 20px 30px;
        color: #04120C;
        max-width: 530px;
        right: 15px;
        bottom: -400px;
    }

    .masthead-testimonial p {
        font-size: 16px;
    }

    .masthead-testimonial h5 {
        font-size: 16px;
    }

    .masthead-testimonial li {
        font-size: 14px;
    }

}

@media (min-width: 2000px) {
    .masthead-background-content::before {
        height: 170px;
        bottom: -98px;
    }
}