.project-gallery {
    position: relative;
    padding: 60px 0;
    color: #fff;
    overflow: hidden;
    width: 100%;
    margin-top: -20px;
}

.project-gallery-wrapper {
    display: none;
}

.project-gallery-slider {
    display: none;
}

.project-gallery-slider.slick-slider {
    display: block;
}

.project-gallery-slider .project-gallery-item {
    position: relative;
    overflow: hidden;
}

.project-gallery-slider .project-gallery-image img {
    height: 240px;
}

@media (min-width: 1200px) {
    .project-gallery-slider .project-gallery-image img {
        height: 320px;
    }
}

.project-gallery-top-content {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.about-background img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.gallery-image:hover img {
    transform: scale(1.2);
}

.project-gallery-slider a {
    display: block;
    font-weight: inherit;
    border: none;
}

.project-gallery-column {
    width: 215px;
    height: 222px;
    position: relative;
}

.project-gallery-image {
    width: 100%;
    height: 100%;
    background-color: #04120C;
}

.project-gallery-image img {
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
    opacity: .6;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.project-gallery-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 25px;
    color: #FFFFFF;
}

.project-gallery-info h4 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0 0 3px;
}

.project-gallery-info p {
    padding: 0 0 0;
}

.project-gallery .slick-initialized .slick-slide {
    margin: 0 8px;
}

.project-shape {
    position: absolute;
    right: -62px;
    top: -32px;
    width: 225px;
}

@media (min-width: 768px) {
    .project-gallery {
        margin-top: 0;
    }

    .project-gallery-column {
        width: 100%;
    }

    .project-gallery {
        padding: 90px 0;
        margin: -20px 0 0;
    }

    .project-shape {
        right: -53px;
        top: -47px;
        width: 360px;
    }

}


@media (min-width: 1200px) {
    .project-gallery-column {
        width: 100%;
        height: 317px;
    }

    .project-gallery .slick-initialized .slick-slide {
        margin: 0 10px;
    }

    .project-gallery {
        padding: 170px 0 100px 0;
        margin: -56px 0 0;
        overflow: inherit;
    }

    .project-shape {
        right: -8px;
        top: -145px;
        width: 700px;
    }

    .project-gallery-top-content {
        margin-bottom: 40px;
    }
}

.project-gallery-column {
    width: 220px;
}


@media (min-width: 1200px) {

    .project-gallery-column {
        width: 320px;
        height: 320px;
    }

    .project-gallery-info h4 {
        font-size: 20px;
    }
}


/* Scrollbar */

.noUi-target {
	background: #eff2f2;
	border-radius: 10px;
	border: none;
	box-shadow: 1px 0px 1px 0px #dfe4e4;
}

.noUi-horizontal {
	height: 10px;
}

.noUi-connect {
	background: #28b47a;
}

.noUi-handle:before, 
.noUi-handle:after {
    display: none;
}

.noUi-handle {
    border: 0;
    border-radius: 5px;
    background: #28b47a;
    box-shadow: none;
}

.noUi-horizontal .noUi-handle {
    cursor: pointer;
    height: 10px;
    width: 80px;
    top: 0;
    right: -40px;
    transition: all 0.4s ease 0s;
}

.noUi-horizontal .noUi-handle:active,
.noUi-horizontal .noUi-handle:hover,
.noUi-base:hover .noUi-handle {
    background: #1F8A5E;
}

.fancybox-container.fancybox-is-open .fancybox-caption,
.fancybox-container.fancybox-is-open .fancybox-infobar,
.fancybox-container.fancybox-is-open .fancybox-navigation .fancybox-button,
.fancybox-container.fancybox-is-open .fancybox-toolbar {
    opacity: 1;
    visibility: visible;
}