.roofing-services {
    position: relative;
    padding: 50px 0 70px;
    color: #4F5954;
    z-index: 9;
}

.services-content p span {
    display: block;
    padding-top: 10px;
}

.services-list {
    border: none;
    font-weight: inherit;
}

.services-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #F5F8F8;
    margin-bottom: 15px;
}

.services-image {
    width: 100px;
    height: 65px;
}

.services-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-info {
    width: calc(100% - 100px);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    color: #04120C;
    letter-spacing: .5px;
}

.services-info p {
    font-size: 16px;
    color: #4F5954;
    padding: 10px 0 0;
    transition: all 0.3s ease 0s;
}

.services-info-text {
    letter-spacing: 1px;
}


@media (min-width: 768px) {
    .services-column {
        display: block;
        background: transparent;
        margin-bottom: 0;
    }

    .services-1 {
        display: block;
        width: 100%;
        background: transparent;
        margin-bottom: 15px;
        height: 204px;
        position: relative;
    }

    .services-image {
        width: 100%;
        height: 100%;
    }

    .services-info {
        width: 100%;
        padding: 15px 20px;
        font-weight: 700;
        font-size: 18px;
        color: #04120C;
        letter-spacing: .5px;
        background: rgba(245, 248, 248, 0.72);
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: center;
    }

    .services-list [class*="col-"] {
        padding-left: 8px;
        padding-right: 8px;
    }

    .services-list .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .services-2 {
        padding: 0;
        background: transparent;
        display: block;
        position: relative;
        height: 114px;
    }

    .services-2 .services-info {
        width: 100%;
        height: 100%;
        padding: 10px;
        background: transparent;
    }

    .services-info-text {
        background: rgba(245, 248, 248, 0.72);
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0 60px;
    }

    .services-content p {
        letter-spacing: 0.45px;
    }

    .services-content p span {
        display: inline-block;
        padding-top: 0;
    }

    .roofing-services {
        padding: 120px 0;
    }

}

@media (min-width: 1200px) {
    .services-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .services-left {
        width: 50%;
        padding-right: 15px;
    }

    .services-right {
        width: 50%;
        padding-left: 15px;
    }

    .services-1 {
        height: 420px;
    }

    .services-info {
        width: 100%;
        max-width: 434px;
        padding: 35px 32px;
        font-size: 22px;
        text-align: left;
        background: rgba(245, 248, 248, 0.82);
        transition: all 0.3s ease 0s;
    }

    .services-roofs {
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .services-roofs .services-info {
        left: inherit;
        bottom: inherit;
        right: 0;
        top: 0;
    }

    .services-content p {
        letter-spacing: 0.3px;
    }

    .services-2 {
        height: 185px;
        text-align: center;
    }

    .services-2 .services-info {
        text-align: center;
        padding: 15px;
        -webkit-transition: all 0.25s linear 0s;
        -o-transition: all 0.25s linear 0s;
        transition: all 0.25s linear 0s;
    }

    .services-column:hover .services-info {
        background: rgba(40, 180, 122, 0.90);
        color: #fff;
    }

    .services-2:hover .services-info {
        padding: 0;
    }

    .services-column:hover .services-info p {
        color: #fff;
    }

    .services-2:hover .services-info {
        background: transparent;
    }

    .services-2:hover .services-info-text {
        background: rgba(40, 180, 122, 0.90);
        color: #fff;
    }

    .services-info-text {
        background: rgba(245, 248, 248, 0.82);
    }

    .roofing-services {
        padding: 130px 0 150px;
    }

}


