.service-area {
    position: relative;
    padding: 0 0 0 0;
    color: #4F5954;
    background: #F5F8F8;
    z-index: 9;
}

.skew {
    transform: skew(0 , -3deg);
}

.service-area-skew-wrapper {
    transform: skew(0 , 3deg);
    padding: 60px 0;
}

.service-area-details {
    padding: 0 20px;
}

.service-area-column {
    background: rgba(255, 255, 255, 0.8);
}

.service-area-mage {
    width: 100%;
}

.service-area-mage img {
    width: 100%;
}

.service-area-info {
    width: 100%;
    padding: 28px 38px;
    color: #4F5954;
}

.service-area-info span {
    font-weight: 800;
}

.service-area-info .container {
    padding-left: 0;
    padding-right: 0;
}

.service-area-info .btn:before {
    display: none;
}

.service-area-info .btn {
    margin: 0;
}

.service-area-info .btn span {
    display: inline;
    vertical-align: middle;
    padding-left: 5px;
}

.service-area-info .btn span:before {
    content: "\e902";
    font-family: 'icomoon';
    font-size: 17px;
    font-weight: normal;
}

.service-area-list {
    margin-top: 30px;
}

.area-list-column {
    background: #fff;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

.area-list-column h4 {
    padding: 18px 4px;
    text-align: center;
    line-height: 1em;
    color: #04120C;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    display: block;
}

.area-list-column:hover {
    background: #28B47A;
}

.area-list-column:hover h4 {
    color: #fff;
}

.service-area .slick-initialized .slick-slide {
    margin: 0 20px;
}

.service-area .slick-prev,
.service-area .slick-next {
    bottom: 50%;
    width: 46px;
    height: 46px;
    background: #FDFDFD;
    border-radius: 50%;
    color: #04120C;
    margin-bottom: -23px;
    box-shadow: 0 0 20px rgba(4, 18, 12, 0.10);
}

.service-area .slick-next:hover,
.service-area .slick-next:focus,
.service-area .slick-prev:hover,
.service-area .slick-prev:focus {
    color: #fff;
    background: #28B47A;
}

.service-area .slick-prev {
    right: inherit;
    left: 0;
}

.service-area .slick-next {
    right: 0;
}

.service-area .slick-prev::before,
.service-area .slick-next::before {
    font-size: 15px;
    line-height: 46px;
}

.area-list-image {
    width: 100%;
    height: 80px;
}

.area-list-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.area-list-column:hover .area-list-image img {
    filter: grayscale(0);
}

@media (min-width: 768px) {
    .service-area-skew-wrapper {
        padding: 80px 0;
    }

    .service-area-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: normal;
        justify-content: center;
    }

    .service-area-details {
        width: calc(100% - 190px);
        padding: 0 20px;
    }

    .service-area-list {
        width: 190px;
        padding-left: 30px;
        margin-top: 0;
    }

    .service-area-info {
        padding: 40px 60px;
    }

    .area-list-column {
        margin: 0 0 22px;
    }

}

@media (min-width: 1200px) {
    .service-area-skew-wrapper {
        padding: 110px 0;
    }

    .service-area-list {
        width: calc(100% - 510px);
        padding-left: 30px;
        margin-top: 0;
    }

    .service-area-details {
        width: 510px;
        padding: 0;
    }

    .service-area-info {
        padding: 40px 60px;
    }

    .area-list-column {
        margin: 15px 0px;
    }

    .area-list-column h4 {
        padding: 16px 10px;
        font-size: 14px;
    }

    .service-area-mage img {
        width: 100%;
    }

}

@media (min-width: 1300px) {
    .service-area-skew-wrapper {
        padding: 150px 0;
    }

    .service-area-list {
        padding-left: 90px;
    }

    .service-area-info p {
        letter-spacing: 0.6px;
    }

    .service-area-info {
        padding: 45px 60px;
    }
}

.tab-list-content {
    position:  relative;
    overflow: hidden;
}

@media (min-width: 1200px) and (max-width: 1350px) {
    .tab-list-content {
        float: none;
        display: inline-block;
        width: 24%;
        padding: 0 8px;
    }
    .area-list-column h4 {
        padding: 16px 0;
    }
}

[ripple] {
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  [ripple] .ripple {
    position: absolute;
    background: #FFFFFF;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    -webkit-animation: ripple 1.6s;
            animation: ripple 1.6s;
  }

  @-webkit-keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.2;
    }
    100% {
      -webkit-transform: scale(40);
              transform: scale(40);
      opacity: 0;
    }
  }

  @keyframes ripple {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 0.2;
    }
    100% {
      -webkit-transform: scale(40);
              transform: scale(40);
      opacity: 0;
    }
  }

  .tabs {
    z-index: 15px;
    position: relative;
    width: 100%;
  }

  .tabs-header {
    position: relative;
  }

  .tabs-header .border {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #F4B142;
    width: auto;
    height: 2px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  .tabs-nav {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }

  .material-icons {
    position: absolute;
    top: 50%;
    width: 46px;
    height: 46px;
    background: #FDFDFD;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(4, 18, 12, 0.10);
    text-align: center;
    font-size: 15px;
    color: #04120C;
    line-height: 3em;
    cursor: pointer;
  }

  .material-icons:hover {
    background: #28B47A;
    color: #fff;
  }

  .tabs-nav .prev-arrow {
    position: absolute;
    left: -20px;
  }

  .tabs-nav .next-arrow {
    position: absolute;
    right: -20px;
  }

  .tabs-content {
    position: relative;
    padding: 0 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .tabs-content:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
  }
  .tabs-content .tab {
    display: none;
  }
  .tabs-content .tab.active {
    display: block;
  }

  .pen-footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
  }
  .pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
  .pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
  }

  .cp-fab {
    background: #000 !important;
    color: #4285F4 !important;
  }


  .active .area-list-column {
    background: #28B47A;
}


.active .area-list-column h4 {
    color: #fff;
}

.active .area-list-column .area-list-image img {
    filter: grayscale(0);
}
