.testimonials {
    position: relative;
    padding: 65px 0 60px 0;
    color: #4F5954;
}

.testimonials-wrapper {
    padding: 30px;
    background: #F5F8F8;
    color: #4F5954;
}

.testimonials-wrapper h3 {
    color: #04120C;
    padding: 0 0 12px;
}

.testimonials-wrapper p {
    color: #4F5954;
    padding-bottom: 20px;
    letter-spacing: 0.4px;
    min-height: 195px;
    display: flex;
    align-items: center;
}

.testimonials-slider {
    display: none;
}

.testimonials-slider.slick-slider{
    display: block;
}

.testimonials-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.testimonials-info h5 {
    color: #04120C;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.testimonials-info ul,
.testimonials-info li{
    margin: 0;
    padding: 0;
}

.testimonials-info li::before {
    display: none;
}

.testimonials-info li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    color: #FFC02E;
}

.info-cols {
    padding-left: 10px;
}

.testimonials-btn {
    margin-top: 20px;
}

.testimonials-btn .btn {
    display: block;
    text-align: center;
}

.testimonials .slick-prev,
.testimonials .slick-next {
    bottom: 20px;
}

.testimonial-quotes {
    position: absolute;
    left: 20px;
    top: -10px;
    width: 52px;
    height: 70px;
    background: #04120C;
    color: #F5F8F8;
    font-size: 25px;
    line-height: 90px;
    text-align: center;
}

.testimonial-quotes:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid #fff;
    border-top-color: #04120C;
    border-right: 26px solid transparent;
    border-left: 26px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 0;
}

@media (min-width: 768px) {

    .testimonials {
        padding: 0 0 60px 0;
    }

    .testimonials-wrapper {
        padding: 50px 60px 60px 60px;
    }

    .testimonials-btn .btn {
        display: inline-block;
        text-align: center;
    }

    .testimonials .slick-prev, 
    .testimonials .slick-next {
        bottom: inherit;
        top: -38px;
    }

    .testimonials-wrapper p {
        padding-bottom: 0;
        min-height: 120px;
    }

    .testimonials-btn {
        margin-top: -44px;
        text-align: right;
    }

}

@media (min-width: 1200px) {
    .testimonials-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 80px;
    }

    .testimonials-image {
        width: 340px;
        position: relative;
    }

    .testimonials-content {
        width: calc(100% - 340px);
        padding-left: 80px;
    }

    .testimonials-wrapper p {
        color: #4F5954;
        padding-bottom: 25px;
        font-size: 18px;
    }

    .testimonials .slick-prev, 
    .testimonials .slick-next {
        bottom: inherit;
        top: -45px;
    }

    .testimonials-btn {
        margin-top: -50px;
    }
}

