.about {
    position: relative;
    padding: 0 0;
    color: #fff;
    overflow: hidden;
    z-index: 9;
}

.about-wrapper h2 {
    color: #fff;
}

.about-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.about-background img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.about-content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 9;
    position: relative;
    padding: 60px 0;
}

.skew .about-content {
    transform: skew(0 , 3deg);
}

.skew {
    transform: skew(0 , -3deg);
}

.about-image {
    width: 100%;
    height: 170px;
}

.about-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;';
}

.about-text {
    padding: 35px 30px 40px;
    color: #E6E7E6;
}

.black-color-content p,
.black-color-content h2,
.black-color-content h3,
.black-color-content h4,
.black-color-content h5,
.black-color-content h6,
.black-color-content li {
    color: #000;
}

@media (min-width: 768px) {

    .about-content {
        padding: 80px 0;
    }

    .about-text {
        padding: 50px;
    }

    .about-image {
        height: 250px;
    }
}

@media (min-width: 1200px) {

    .about-content {
        padding: 130px 0 80px;
    }

    .about-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
    }

    .about-image {
        width: 57%;
        height: auto;
        position: relative;
    }

    .about-image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .about-text {
        width: 43%;
    }
}

@media (min-width: 1366px) {
    .about-text {
        padding: 80px 76px;
    }
}



