
.accordion-section {
    position: relative;
    padding: 60px 0 40px;
    z-index: 9;
}

.accordion {
    width: 100%;
    background: #F5F8F8 ;
    border: none;
    border-left: 8px solid #28B47A;
    position: relative;
    z-index: 9;
}

.accordion h3 {
    background: #EBF1F1;
    padding: 20px 55px 20px 30px;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    color: #4F5954;
    position: relative;
    letter-spacing: 0.54px;
    transition: all 0.4s ease 0s;
}

.accordion h3::before {
    content: "\e905";
    font-family: 'icomoon';
    position: absolute;
    right: 25px;
    top: 22px;
    font-size: 16px;
    font-weight: normal;
    color: #04120C;
}

.accordion h3.odd {
    background: #F5F8F8;
}

.accordion h3:hover {
    background-color: #E4E8E8;
}


.accordion h3.active::before {
    content: "\e908";
}

.accordion-content {
    background: #F5F8F8;
    margin: 0;
    padding: 0 30px;
    display: none;
}

.accordion-content p {
    letter-spacing: 0.4px;
}

.accordion-wrapper {
    position: relative;
}

.accordion-wrapper-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordion-wrapper-bg img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.black-accordion-section .accordion {
    width: 100%;
    background: rgba(4, 18, 12, 0.85);
    border: none;
    border-left: 8px solid #28B47A;
    position: relative;
    z-index: 9;
    color: #E6E7E6;
}

.black-accordion-section .accordion h3 {
    color: #FFFFFF;
    background: rgba(235, 241, 241, 0.1);
}

.black-accordion-section .accordion h3::before {
    color: #FFFFFF;
}

.black-accordion-section .accordion h3.odd {
    background: transparent;
}

.black-accordion-section .accordion-content {
    background: transparent;
}

.black-accordion-section .accordion h3:hover {
    background: rgba(235, 241, 241, 0.2);
}

.black-accordion-section .accordion a:hover {
    color: #FFF;
}

.black-accordion-section {
    z-index: 99;
    padding-bottom: 30px;
}

.accordion-wrapper {
    z-index: 999;
}

@media (min-width: 768px) {

    .accordion-section.black-accordion-section {
        padding-bottom: 60px;
    }

    .accordion-section {
        padding: 90px 0 0;
    }

    .accordion h3 {
        padding: 24px 80px 24px 40px;
        font-size: 16px;
    }

    .accordion h3::before {
        right: 35px;
        top: 25px;
    }

    .accordion-content {
        padding: 0 40px 0 60px;
    }
}

@media (min-width: 1200px) {
    .accordion-section {
        padding: 90px 0;
    }

    .accordion h3 {
        padding: 25px 80px 25px 40px;
        font-size: 18px;
    }

    .accordion h3::before {
        top: 26px;
    }

    .accordion-content {
        padding: 0 100px 0 60px;
    }

}

@media (min-width: 1300px) {
    .black-wysiwyg-wrapper {
        padding-bottom: 120px;
    }
}
