/*------------------------------------*\

    WebFX CF7 Customizations - Global styling for all CF7 Forms

    Add custom CF7 form styling to this file if it should be applied to all CF7 forms on the site
    Otherwise, put your slider-specific styles in individual block stylesheets

\*------------------------------------*/

section.half-text-contact {
    margin: 60px 0;
}

.contact-form-wrapper {
    padding: 30px 15px 20px;
    background: #e1efdf;
}

@media (min-width: 768px) {
    section.half-text-contact {
        margin: 90px 0;
    }
    .contact-form-wrapper {
        padding: 40px 25px 20px;
    }
}

@media (min-width: 768px) {
    .contact-form-wrapper .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 1024px) {
    .half-text-contact .content-left {
        padding-right: 50px;
    }
    .row.content-contact-flex-wrapper {
        display: flex;
        align-items: center;
    }
}

/* CF7 content */
.page-contact {
    background: #FFFFFF;
    padding: 50px 0;
    position: relative;
    color: #4F5954;
    overflow: hidden;
}

.contact-top-content {
    margin-bottom: 15px;
}

.contact-top-content h3 {
    padding-top: 0;
}

.form-col p {
    font-size: 15px;
    color: #4F5954;
    padding: 0;
    text-align: left;
    font-style: italic;
    font-weight: 500;
}

.icon-shape-contact {
    position: absolute;
    right: -48px;
    bottom: -100px;
    max-width: 370px;
}

.page-contact .container {
    position: relative;
    z-index: 9;
}

.contact-columns {
    margin-bottom: 35px;
}

.contact-columns h4 {
    font-size: 14px;
    font-weight: 700;
    color: #04120C;
    letter-spacing: 1.4px;
    line-height: 1.4em;
    padding: 0 0 6px;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-align: center;
}

.contact-columns h4::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: 38px;
    height: 1px;
    background: #D8D8D8;
}

.contact-columns p {
    padding-bottom: 8px;
    line-height: 1.3em;
    text-align: center;
}

.contact-columns p a {
    letter-spacing: 0.51px;
}

.sub-col p {
    display: flex;
    justify-content: space-between;
}

.sub-col p span {
    max-width: 160px;
}

.sub-col a {
    border: beige;
    color: #4F5954;
    font-weight: 400;
}

.sub-col a:hover {
    color: #28B47A;
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #B9BCBB;
}
::-moz-placeholder {
  color: #B9BCBB;
}
:-ms-input-placeholder {
  color: #B9BCBB;
}
:-moz-placeholder {
  color: #B9BCBB;
}

/* Default Radio/Checkbox Style (if using CF7) */
.wpcf7-radio .wpcf7-list-item,
.wpcf7-checkbox .wpcf7-list-item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    /* incase items go to 2 lines */
}

.wpcf7-radio .wpcf7-list-item-label,
.wpcf7-checkbox .wpcf7-list-item-label {
    margin-left: 5px;
}

/* CF7 Validation (Remove if not using CF7) */

/* Individual field error messages */
.wpcf7 .wpcf7-not-valid-tip {
    font-size:  14px;
    color: #A9575B;
    margin-top: 3px;
    position: relative;
}

.wpcf7-not-valid-tip:before {
    content: '\e909';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
}

/* Entire form error message */
.wpcf7-response-output {
    color: #A9575B;
    margin: 15px 0;
}

/* Styling for fields that have errors */
select.wpcf7-not-valid,
textarea.wpcf7-not-valid,
input.wpcf7-not-valid,
.wpcf7-not-valid .choices {
    color: #A9575B;
}

.wpcf7-form-control.wpcf7-not-valid {
    border-bottom: 4px solid #A9575B;
}

.wpcf7-submit {
    background: #28B47A;
    color: #FFFFFF;
    border-radius: 0;
    border: none;
    color: #ffffff;
    display: block;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    padding: 13px 23px;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.wpcf7-submit:hover,
.wpcf7-submit:focus {
    background: #1F8A5E;
    border: none;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.form-col.sub-btn {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .page-contact {
        padding: 60px 0;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .contact-sidebar {
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .wpcf7-submit {
        font-size: 16px;
        padding: 17px 32px;
    }

    .page-contact {
        padding: 90px 0 100px;
    }

    .contact-sidebar {
        margin-top: 0;
    }
    .sub-col p {
        justify-content: space-between;
    }
    .contact-columns h4 {
        text-align: left;
    }
    .contact-columns p {
        text-align: left;
    }
    .contact-columns h4::before {
        right: initial;
    }
}

@media (min-width: 1366px) {
    .icon-shape-contact {
        max-width: 440px;
        right: -119px;
    }
}

@media (min-width: 1800px) {
    .icon-shape-contact {
        max-width: 600px;
        right: -278px;
    }
}
