
.image-background-section {
    position: relative;
}

.image-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.image-background-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.image-background-content {
    width: 100%;
    height: 100%;
    background: rgba(4, 18, 12, 0.80);
    color: #E6E7E6;
    z-index: 9;
    position: relative;
    padding: 50px 0 70px;
    text-align: center;
}

.image-background-content h2,
.image-background-content h3,
.image-background-content h4 {
    color: #FFFFFF;
}

.image-background-content p {
    color: #E6E7E6;
    letter-spacing: 0.5px;
}

.image-background-content-wrapper {
    max-width: 898px;
    margin: 0 auto;
}

.skew .image-background-content-wrapper {
    transform: skew(0 , 3deg);
}

.skew {
    transform: skew(0 , -3deg);
}

@media (min-width: 768px) {
    .image-background-content {
        padding: 80px 0 100px 0;
    }
}

@media (min-width: 1200px) {
    .image-background-content {
        padding: 110px 0 140px 0;
    }

}
