
.image-buttons {
    position: relative;
    background: #E1EFDF;
    transform: skew(0 , -3deg);
}

.image-buttons-wrapper {
    padding: 50px 0;
    transform: skew(0 , 3deg);
    position: relative;
    z-index: 9;
}

.image-buttons-list {
    position: relative;
    z-index: 9;
}

.image-buttons h2 {
    text-align: center;
    padding-bottom: 20px;
}

.image-buttons-list a {
    border: none;
    font-weight: inherit;
}

.buttons-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 15px;
    overflow: hidden;
}

.buttons-image {
    width: 100px;
    height: 65px;
}

.buttons-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-info {
    background: #fff;
    width: calc(100% - 100px);
}

.buttons-info .buttons-info-text {
    padding-left: 20px;
}
.buttons-info h4 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #04120C;
    letter-spacing: 1px;
}

.buttons-info .btn {
    display: none;
}

.buttons-info .btn::before {
    content: "\e907";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}

.buttons-icon-shape {
    position: absolute;
    left: 0;
    bottom: 0px;
    max-width: 300px;
}

@media (min-width: 768px) {
    .image-buttons-list .row {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: -16px;
        margin-left: -16px;
        justify-content: center;
        text-align: center;
    }
    
    .image-buttons-list .col-sm-4 {
        box-sizing: border-box;
        flex: 0 0 auto;
        flex-basis: auto;
        padding-right: 0;
        padding-left: 0;
        margin: 10px 16px;
        width: calc(50% - 32px);
    }

    .buttons-column {
        margin-bottom: 0;
        text-align: left;
    }

    .image-buttons-wrapper {
        padding: 90px 0 80px;
    }

    .buttons-icon-shape {
        max-width: 350px;
    }

}

@media (min-width: 1200px) {
    .image-buttons-list .col-sm-4 {
        margin: 10px 16px;
        width: calc(25% - 32px);
    }

    .buttons-column {
        margin-bottom: 0;
        text-align: left;
    }

    .buttons-column {
        display: block;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        height: 242px;
    }

    .buttons-image {
        width: 100%;
        height: 168px;
    }

    .buttons-info {
        width: 100%;
        padding: 24px 25px;
        position: absolute;
        left: 0;
        bottom: 0;
        text-align: left;
        background: #fff;
        transform: translateY(34px);
        transition: all 0.4s ease 0s;
    }

    .buttons-info h4 {
        font-size: 20px;
    }

    .buttons-column:hover,
    .buttons-column:hover .buttons-info {
        background: #28B47A;
    }

    .buttons-column:hover .buttons-info {
        padding: 20px 25px;
        transform: translateY(3px);
    }

    .buttons-column:hover .buttons-info h4 {
        color: #FFFFFF;
    }
    
    .buttons-column .buttons-info .btn {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.5em;
        opacity: 0;
    }

    .buttons-column:hover .buttons-info .btn{
        opacity: 1;
    }

    .image-buttons-wrapper {
        padding: 110px 0 150px;
    }

    .buttons-info .buttons-info-text{
        padding-left: 0px;
    }
    .buttons-icon-shape {
        max-width: 100%;
    }

}

@media (min-width: 1366px) {

    .image-buttons-list .col-sm-4 {
        width: calc(20% - 32px);
    }
}











