.project-gallery {
    position: relative;
    padding: 60px 0;
    color: #fff;
    overflow: hidden;
    width: 100%;
}

.project-gallery-wrapper {
    display: none;
}

.project-gallery-slider {
    display: none;
}

.project-gallery-slider.slick-slider {
    display: block;
}

.project-gallery-wrapper, .project-gallery-scrollbar {
    display: none;
}

.project-gallery-slider .project-gallery-item {
    position: relative;
    overflow: hidden;
}

.project-gallery-slider .project-gallery-image img {
    height: 240px;
}

@media (min-width: 1200px) {
    .project-gallery-slider .project-gallery-image img {
        height: 320px;
    }
}

.project-gallery-top-content {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.about-background img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.project-gallery-slider a {
    display: block;
    font-weight: inherit;
    border: none;
}

.gallery-image:hover img {
    transform: scale(1.2);
}

.project-gallery-column {
    width: 215px;
    height: 222px;
    position: relative;
}

.project-gallery-image {
    width: 100%;
    height: 100%;
}

.project-gallery-image img {
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.project-gallery-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 20px 25px;
    color: #FFFFFF;
}

.project-gallery-info h4 {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 0 0 3px;
}

.project-gallery-info p {
    padding: 0 0 0;
}

.project-gallery .slick-initialized .slick-slide {
    margin: 0 8px;
}

.project-shape {
    position: absolute;
    right: -62px;
    top: -32px;
    width: 225px;
}

@media (min-width: 768px) {
    .project-gallery-column {
        width: 100%;
    }

    .project-gallery {
        padding: 90px 0;
        margin: -20px 0 0;
    }

    .project-shape {
        right: -53px;
        top: -47px;
        width: 360px;
    }

}


@media (min-width: 1200px) {
    .project-gallery-column {
        width: 100%;
        height: 317px;
    }

    .project-gallery .slick-initialized .slick-slide {
        margin: 0 10px;
    }

    .project-gallery {
        padding: 120px 0 50px 0;
        margin: -56px 0 0;
        overflow: inherit;
    }

    .project-shape {
        right: -8px;
        top: -145px;
        width: 700px;
    }

    .project-gallery-top-content {
        margin-bottom: 40px;
    }
}


#horiz_container_outer {
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
    position:relative;
    height:270px;
    margin:0 auto;
    padding: 0;
}

#horiz_container {
    width:2400px;
    margin:0px;
    padding:0px;
}

.project-gallery-column {
    width: 220px;
}

#horiz_container ul {
    margin:0px;
    padding:0px;
    float:left;
    list-style: none;
}

#horiz_container_inner {
    padding:0;
    padding-left:0px;
    margin: 0;
}

#horiz_container li {
    list-style:none;
    display: inline-table;
    margin:0px 8px;
    padding: 0;
}

.project-gallery li::before{
    display: none;
}

#horiz_container li img{
    padding:0px;
    margin:0px;
}

#scrollbar {
    position:relative;
    width:266px;
    height:9px;
    font-size:1px;
    top:0px;
    margin:0px auto;
    border-radius: 10px;
}

#track {
    position:absolute;
    left:0px;
    top:0;
    width:266px;
    height:9px;
    background: #F1F2F1;
    border-radius: 10px;
}

#dragBar {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:10px;
    border-radius: 10px;
    background: #28B47A;
    cursor: pointer;
}

#left_scroll{
    position:absolute;
    border-color: transparent gray transparent transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0px;
    cursor:pointer;
    top:1px;
    left:-15px;
}

#right_scroll {
    position:absolute;
    right:-15px;
    top:1px;
    border-color: transparent transparent transparent gray;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0px;
    cursor:pointer;
}

#scrollbar, #track, #dragBar, #left, #right {
    -moz-user-select: none;
    -khtml-user-select: none;
}

@media (min-width: 768px) {
    #track,
    #scrollbar  {
        width: 430px;
    }
}


@media (min-width: 1200px) {
    #horiz_container_outer {
        height:360px;
    }

    #scrollbar,
    #track {
        width:440px;
        margin-top: 0;
    }

    #horiz_container {
        width: 3400px;
    }

    .project-gallery-column {
        width: 320px;
        height: 320px;
    }

    .project-gallery-info h4 {
        font-size: 20px;
    }
}






