.testimonial-section {
    position: relative;
    padding: 50px 0;
    background: #FFFFFF;
    color: #4F5954;
}

.testimonial-background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.testimonial-background-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;';
}

.testimonial-section h2 {
    color: #04120C;
    text-align: center;
}

.testimonial-columns {
    padding: 20px;
    background: #F5F8F8;
    color: #4F5954;
    margin-bottom: 15px;
}

.testimonial-listings ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.testimonial-listings ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.testimonial-listings > ul > li {
    width: 100%;
    display: inline-block;
}

.testimonial-listings ul li::before {
    display: none;
}

.testimonials-author-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

.testimonials-author-info h5 {
    color: #04120C;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

.testimonials-author-info ul,
.testimonials-author-info li {
    margin: 0;
    padding: 0;
    list-style: none;
    column-count: 1;
    line-height: 1.2em;
}

.testimonials-author-info li::before {
    display: none;
}

.testimonials-author-info li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    color: #FFC02E;
}

.author-info {
    padding-left: 10px;
    max-width: 183px;
}

.testimonial-date {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #04120C;
    padding: 0 0 10px;
    display: block;
}

.testimonial-columns p {
    padding: 0 0 15px;
}

.testimonial-listings {
    margin-top: 20px;
    position: relative;
    z-index: 9;
}

.loading-area {
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 9;
}

.loading-area p {
    padding-bottom: 10px;
    font-size: 15px;
    color: #4F5954;
}

.loading-bar {
    position: relative;
    max-width: 300px;
    margin: 0 auto 25px;
    height: 9px;
    background: #F1F2F1;
    border-radius: 10px;
}

.loading-bar-active {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: #28B47A;
    border-radius: 10px;
}

.loading-area .disabled {
    pointer-events: none;
    opacity: .65;
    background: #6c757d;
}

.testimonial-listings ul li.moreBox {
    display: none;
}

.icon-shape {
    position: absolute;
    left: 0;
    bottom: 0px;
}

@media (min-width: 768px) {
    .testimonial-listings ul {
        -webkit-column-count: 2;
        -moz-column-count: 2;
             column-count: 2;
    }

    .testimonial-listings .testimonials-author-info ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
             column-count: 1;
    }

    .testimonial-columns {
        padding: 30px 30px;
    }

    .testimonial-section {
        padding: 60px 0;
    }

}


@media (min-width: 1200px) {
    .testimonial-listings ul {
        -webkit-column-count: 3;
        -moz-column-count: 3;
             column-count: 3;
    }

    .testimonial-listings ul li {
        display: inline-block;
    }

    .testimonial-listings .testimonials-author-info ul {
        -webkit-column-count: 1;
        -moz-column-count: 1;
             column-count: 1;
    }

    .testimonial-columns {
        padding: 40px 45px;
    }

    .testimonial-section {
        padding: 95px 0 110px;
    }

    .testimonial-columns p {
        padding: 0 0 20px;
        font-size: 18px;
    }

    .testimonials-author-info h5 {
        font-size: 17px;
    }

    .testimonials-author-info li {
        font-size: 13px;
    }

    .author-info {
        padding-left: 20px;
        max-width: inherit;
    }

}