/**
 * Add styling for 404 page here
 */

.page-404 {
    padding: 50px 0;
    position: relative;
}

.page-404-wrapper {
    z-index: 9;
    position: relative;
}

@media (min-width: 768px) {
    .page-404 {
        padding: 75px 0;
    }
}

@media (min-width: 1200px) {
    .page-404 {
        padding: 95px 0 120px;
    }
}

.search-content {
    width: 100%;
    margin: 0;
    height: 54px;
    max-width: 100%;
}

.contact-404 {
    text-align: center;
}

.imgbtns-404 {
    margin-bottom: 80px;
}

.icon-shape-contact {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (min-width: 1366px) {
    .icon-shape-contact {
        max-width: 440px;
    }
}

@media (min-width: 1800px) {
    .icon-shape-contact {
        max-width: 600px;
    }
}

.contact-404 a:hover {
    color: #fff;
    border: none;
    background: #1F8A5E;
}

.buttons-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #FFFFFF;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid #D8D8D8;
}

.buttons-image {
    width: 100px;
    height: 65px;
}

.buttons-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttons-info {
    background: #fff;
    width: calc(100% - 100px);
}

.buttons-info .buttons-info-text {
    padding-left: 20px;
}
.buttons-info h4 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    color: #04120C;
    letter-spacing: 1px;
}

.buttons-info .btn {
    display: none;
}

.buttons-info .btn::before {
    content: "\e907";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 14px;
    margin-top: -7px;
}

@media (min-width: 768px) {

    .buttons-column {
        margin-bottom: 0;
        text-align: left;
    }

}

@media (min-width: 1200px) {

    .buttons-column {
        margin-bottom: 0;
        text-align: left;
    }

    .buttons-column {
        display: block;
        width: 100%;
        margin-bottom: 0;
        position: relative;
        height: 392px;
    }

    .buttons-image {
        width: 100%;
        height: 318px;
    }

    .buttons-info {
        width: 100%;
        padding: 24px 25px;
        position: absolute;
        left: 0;
        bottom: 10px;
        text-align: left;
        background: #fff;
        transform: translateY(34px);
        transition: all 0.4s ease 0s;
    }

    .buttons-info h4 {
        font-size: 20px;
    }

    .buttons-column:hover,
    .buttons-column:hover .buttons-info {
        background: #28B47A;
    }

    .buttons-column:hover .buttons-info {
        padding: 20px 25px;
        transform: translateY(3px);
    }

    .buttons-column:hover .buttons-info h4 {
        color: #FFFFFF;
    }

    .buttons-column .buttons-info .btn {
        display: inline-block;
        font-size: 13px;
        font-weight: 500;
        color: #ffffff;
        line-height: 1.5em;
        opacity: 0;
    }

    .buttons-column:hover .buttons-info .btn{
        opacity: 1;
    }

    .buttons-info .buttons-info-text{
        padding-left: 0px;
    }
}