/*------------------------------------*\

    Page Footer CSS

    Page footer...........The main page footer.

\*------------------------------------*/

.page-footer {
    padding: 0 0 0;
    position: relative;
    color: #545254;
    z-index: 20;
}

.footer-texture-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.footer-texture-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-wrapper {
    width: 100%;
    position: relative;
    z-index: 9;
    background: rgba(41, 53, 48, 0.85);
}

.page-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer ul li::before {
    display: none;
}

.page-footer a {
    border: none;
    font-weight: inherit;
}

.footer-top {
    padding: 50px 0 20px;
}

.footer-logo-column {
    margin-bottom: 40px;
    text-align: center;
}

.footer-logo {
    max-width: 135px;
    margin: 0 auto 20px;
}

.footer-logo img,
.sponsor-logo-col img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.footer-social-email p {
    font-size: 15px;
    padding: 0;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.4px;
}

.footer-social-email p a {
    padding: 0;
    color: #FFFFFF;
    font-weight: 500;
}

.footer-social-email p a:hover {
    color: #28B47A;
}

.page-footer .social-media {
    margin-top: 20px;
}

.page-footer .social-media li {
    display: inline-block;
    padding: 0 5px
}

.page-footer .social-media li a {
    display: block;
    font-size: 30px;
    color: #FFFFFF;
}

.social-media li a:hover {
    color: #28B47A;
}

.footer-address-column {
    padding-left: 0px;
    margin-left: 0px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.address-column {
    padding-bottom: 30px;
    max-width: 220px;
    margin: 0 auto;
}

.page-footer h4 {
    font-size: 14px;
    line-height: 1.2em;
    display: block;
    color: #FFFFFF;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 0 15px;
    letter-spacing: 1px;
    text-align: left;
}

.address-column p {
    color: #FFFFFF;
    font-size: 15px;
    padding: 0 0 3px 30px;
    text-align: left;
    position: relative;
    line-height: 1.7em;
}

.address-column p a {
    color: #FFFFFF;
}

.address-column p a:hover {
    color: #28B47A;
}

.address-column p i {
    position: absolute;
    left: 0;
    top: 4px;
    font-size: 18px;
    color: #28B47A;
}

.quick-link ul {
    text-align: right;
    margin: 0 0 30px;
}

.quick-link ul li {
    margin-bottom: 10px;
}

.quick-link ul li a {
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.6px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

.quick-link ul li a:hover {
    color: #28B47A;
}

.back-top {
    margin: 0 0 25px;
    text-align: center;
    position: relative;
    z-index: 9;
}

.back-top a {
    border: none;
    font-size: 14px;
    line-height: 1.2em;
    font-weight:700;
    color: #28B47A;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: all ease-in-out 0.3s;
    text-transform: uppercase;
    padding: 0 0 0 0 ;
    letter-spacing: 1.5px;
}

.back-top a i {
    font-size: 12px;
    padding-left: 3px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.back-top a:hover {
    color: #fff;
}


@media (min-width: 768px) {
    .footer-logo-column,
    .footer-social-email,
    .footer-address-column {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .footer-logo {
        max-width: 175px;
        margin: 0 0 0;
    }

    .page-footer .social-media {
        margin-top: 0;
    }

    .footer-social-email p {
        font-size: 15px;
        padding: 0 40px;
    }

    .address-column {
        padding-bottom: 30px;
        max-width: 100%;
        margin: 0 50px;
    }

    .footer-address-column {
        padding-left: 0;
        align-items: flex-start;
    }
}

@media (min-width: 1200px) {
    .footer-top {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        z-index: 9;
        padding-top: 65px;
    }

    .footer-left {
        width: 70%;
    }

    .footer-right {
        width: 30%;
        text-align: right;
        padding-top: 20px;
    }

    .footer-logo-column,
    .footer-social-email,
    .footer-address-column {
        justify-content: flex-start;
    }

    .footer-address-column {
        align-items: flex-start;
    }

    .footer-social-email {
        margin-left: 35px;
    }

    .address-column {
        padding-bottom: 30px;
        margin: 0 60px 0 0;
    }

    .footer-logo-column {
        margin-bottom: 50px;
    }

    .address-column p {
        font-size: 17px;
        padding-left: 32px;
    }

    .address-column p i {
        top: 6px;
        font-size: 20px;
    }

    .footer-wrapper::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: rgba(4, 18, 12, 0.85);
        width: 37%;
        height: 100%;
    }

    .footer-wrapper::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(41, 53, 48, 0.8);
        width: 63%;
        height: 100%;
    }

    .footer-wrapper {
        background: transparent;
    }
}




.footer-bottom {
    padding: 30px 0 80px;
    background: rgba(4, 18, 12, 0.85);
    text-align: center;
    position: relative;
}

.footer-secondary-menu ul li {
    padding: 0 10px;
    display: inline-block;
    vertical-align: middle;
}

.footer-secondary-menu ul li a {
    font-size: 12px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.2em;
    border: none;
    letter-spacing: 0.4px;
}

.footer-secondary-menu ul li a:hover {
    color: #28B47A;
}

.copyright {
    font-size: 12px;
    display: block;
    text-decoration: none;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.2em;
    border: none;
    padding: 0 0 10px;
}

@media (min-width: 768px) {
    .footer-bottom {
        padding: 30px 0 20px 0;
        margin: 0;
    }

    .copyright {
        display: inline-block;
        vertical-align: middle;
        padding: 4px 10px 0 0;
    }

    .footer-secondary-menu {
        display: inline-block;
        vertical-align: middle;
    }

    .back-top {
        display: block;
        margin: 0 0 12px;
    }

}

@media (min-width: 1200px) {
    .footer-bottom {
        padding: 30px 0 60px 0;
        background: transparent;
    }

    .back-top a {
        margin: 0;
        font-size: 16px;
        font-weight: 700;
        padding-left: 12px;
    }

    .back-top {
        margin: 0;
    }

    .copyright {
        float: left;
        font-size: 14px;
    }

    .footer-secondary-menu {
        float: right;
        position: relative;
        z-index: 9;
    }

    .footer-secondary-menu ul li a {
        font-size: 14px;
    }

    .footer-secondary-menu ul li {
        padding: 0 0 0 30px;
    }

    .page-footer h4 {
        padding: 0 0 20px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .footer-wrapper .row {
        margin: 0;
    }
}

.page-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .page-popup {
        padding: 0 25px;
    }
}

.page-popup h2 {
    color: #4F5954;
    background-color: #e1efdf;
    padding: 30px 15px 0;
}

@media (min-width: 1025px) {
    .page-popup h2 {
        padding: 40px 25px 0;
    }
}

.popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.popup-wrapper {
    max-width: 100%;
    width: 100%;
    position: relative;
}

@media (min-width: 768px) {
    .popup-wrapper {
        max-width: 70%;
    }
}

@media (min-width: 1200px) {
    .popup-wrapper {
        max-width: 50%;
    }
}

.popup-wrapper .icon-close {
    position: absolute;
    right: 0;
    top: -35px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

@media (min-width: 1200px) {
    .popup-wrapper .icon-close:hover {
        color: #28B47A;
    }
}

.popup-contact {
    padding: 30px 15px 20px;
    background: #e1efdf;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .popup-contact {
        padding: 40px 25px 20px;
    }
}

/* Works on Firefox */
.popup-contact {
  scrollbar-width: thin;
  scrollbar-color: #28B47A transparent;
}

/* Works on Chrome, Edge, and Safari */
.popup-contact::-webkit-scrollbar {
  width: 6px;
}

.popup-contact::-webkit-scrollbar-track {
  background: transparent;
}

.popup-contact::-webkit-scrollbar-thumb {
  background-color: #28B47A;
  border-radius: 20px;
  border: 3px solid #28B47A;
}

@media (min-width: 768px) {
    .popup-contact .row {
        display: flex;
        flex-wrap: wrap;
    }
}

/* Placeholder */
::-webkit-input-placeholder {
  color: #B9BCBB;
}
::-moz-placeholder {
  color: #B9BCBB;
}
:-ms-input-placeholder {
  color: #B9BCBB;
}
:-moz-placeholder {
  color: #B9BCBB;
}

/* Default Radio/Checkbox Style (if using CF7) */
.wpcf7-radio .wpcf7-list-item,
.wpcf7-checkbox .wpcf7-list-item {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
    /* incase items go to 2 lines */
}

.wpcf7-radio .wpcf7-list-item-label,
.wpcf7-checkbox .wpcf7-list-item-label {
    margin-left: 5px;
}

/* CF7 Validation (Remove if not using CF7) */

/* Individual field error messages */
.wpcf7 .wpcf7-not-valid-tip {
    font-size:  14px;
    color: #A9575B;
    margin-top: 3px;
    position: relative;
}

.wpcf7-not-valid-tip:before {
    content: '\e909';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
}

/* Entire form error message */
.wpcf7-response-output {
    color: #A9575B;
    margin: 15px 0;
}

/* Styling for fields that have errors */
select.wpcf7-not-valid,
textarea.wpcf7-not-valid,
input.wpcf7-not-valid,
.wpcf7-not-valid .choices {
    color: #A9575B;
}

.wpcf7-form-control.wpcf7-not-valid {
    border-bottom: 4px solid #A9575B;
}

.wpcf7-submit {
    background: #28B47A;
    color: #FFFFFF;
    border-radius: 0;
    border: none;
    color: #ffffff;
    display: block;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    padding: 13px 23px;
    position: relative;
    width: 100%;
    vertical-align: middle;
}

.wpcf7-submit:hover,
.wpcf7-submit:focus {
    background: #1F8A5E;
    border: none;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.form-col.sub-btn {
    margin-bottom: 0;
}
