/* Global CSS */

/**
 * CONTENTS
 *
 * BASE
 * Variables.............Custom CSS properties.
 * Document..............Box-sizing and document (e.g. <html>, <body>) setup.
 * Media.................WP specific img aligns and iframe styling.
 * Typography............@fontfaces, base text and vertical rhythem setup.
 *
 * COMPONENTS
 * Wrappers..............Wrapping and constraining elements.
 * Grid System...........Bootstrap based grid.
 * Clearfix..............Properly clear floats.
 *
 * Objects
 * Icons.................Icon Elements.
 * Buttons...............Button elements.
 * Tables................Table Styles.
 * Forms.................Form Elements.
 * Pagination............Pagination.
 *
 */



/*------------------------------------*\
    BASE
\*------------------------------------*/



/**
 * Global Variables (Optional - Remove anything that's not being used)
 */

:root {
    /* --- Examples --
    --border-color: #e3e3e3;
    --border: 1px solid var(--border-color);
    --section-margins: 60px;
    --drop-shadow: 0px 1px 30px rgb(0 0 0 / 9%);
    */
}



/**
 * Document
 */

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
  font-family: 'Urbanist', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #4F5954;
    -webkit-font-smoothing: antialiased;
}



/**
 * Media
 *
 * These selectors are hard cast because they are only used
 * by wordpress wyswyg when adding images to content
 */

 .wp-caption.alignright,
 .wp-caption.alignleft,
 .wp-caption.alignnone,
 .wp-caption.aligncenter {
     margin: 0;
     width: auto !important; /* to overwrite inline widths */
 }

 img.alignright,
 .wp-caption.alignright img,
 img.alignleft,
 .wp-caption.alignleft img {
     height: auto;
     max-width: 100%;
     width: 100%;
     display: block;
 }

 img.alignnone,
 .wp-caption.alignnone img,
 img.aligncenter,
 .wp-caption.aligncenter img {
     height: auto;
     max-width: 100%;
 }

 img.alignnone,
 .wp-caption.alignnone,
 img.aligncenter,
 .wp-caption.aligncenter { margin: 0 0 22px 0; }

 img.alignright,
 .wp-caption.alignright {
     float: none;
     margin: 0 0 22px 0;
 }

 img.alignleft,
 .wp-caption.alignleft {
     float: left;
     margin: 0 30px 22px 0;
 }

 img.aligncenter,
 .wp-caption.aligncenter img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

 iframe,
 img {
     max-width: 100%;
 }

 /* Fade-in for lazyloaded images */
 .will-lazyload {
     opacity: 0;
     transition: opacity .25 linear;
 }

 .will-lazyload.lazyloaded {
     opacity: 1;
 }

 @media (min-width: 768px) {
  img.alignright,
  .wp-caption.alignright {
      float: right;
      margin: 30px 0 22px 35px;
      height: auto;
      max-width: 44%;
  }


 }


/*
  - Please set up line-heights in ems
  - Set up typography styling based on styles found in .xd file under Assets > Character Styles
  */

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
      margin:0;
      padding: 0;
      font-family: 'Urbanist', sans-serif;
      font-weight: 500;
  }

h1,
.h1 {
    font-size: 36px;
    line-height: 1.17em;
}

h2,
.h2 {
    font-size: 26px;
    line-height: 1.3em;
    padding-bottom: 10px;
    color: #04120C;
}

h3,
.h3 {
    font-size: 22px;
    line-height: 1.4em;
    padding-bottom: 10px;
    padding-top: 15px;
    color: #04120C;
}

h4,
.h4 {
    font-size: 18px;
    line-height: 1.35em;
    padding-bottom: 10px;
    padding-top: 15px;
    color: #04120C;
    font-weight: 700;
}

p {
    margin:0;
    padding: 0 0 24px;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: 'Urbanist', sans-serif;
}

/*blockquote {
  margin: 15px 0 25px;
  padding: 30px 40px;
  font-size: 15px;
  line-height: 1.7em;
  font-weight: 500;
  font-family: 'Urbanist', sans-serif;
  color: #4F5954;
  position: relative;
  background: #F5F8F8;
  border-left: 8px solid #28B47A;
  letter-spacing: 0.45px;
}*/

blockquote {
    margin: 0;
}

blockquote p {
  margin: 15px 0 25px;
  padding: 30px 40px;
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 500;
  font-family: 'Urbanist', sans-serif;
  color: #4F5954;
  position: relative;
  background: #F5F8F8;
  border-left: 8px solid #28B47A;
  letter-spacing: 0.45px;
}

blockquote.black-background {
    background: url(https://roofrx.webpagefxstage.com/wp-content/uploads/2021/10/blockquote-bg.png) 0 0 no-repeat;
    background-size: cover;
    color: #E6E7E6;
}

blockquote.black-background p {
    background-color: transparent;
    color: #E6E7E6;
}




@media (min-width: 768px) {
    h1,
    .h1 {
        font-size: 42px;
    }

    h2,
    .h2 {
        font-size: 32px;
    }

    h3,
    .h3 {
        font-size: 24px;
    }

    h4,
    .h4 {
        font-size: 20px;
    }

    p {
      font-size: 15px;
    }

    blockquote {
      font-size: 17px;
    }
}

@media (min-width: 1200px) {
    h1,
    .h1 {
        font-size: 56px;
    }

    h2,
    .h2 {
        font-size: 42px;
    }

    h3,
    .h3 {
        font-size: 36px;
    }

    h4,
    .h4 {
        font-size: 22px;
    }

    p {
      font-size: 17px;
    }

    .sub-heading {
        font-size: 18px;
    }

/*    blockquote {
      font-size: 20px;
      padding: 50px 60px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      margin-top: 40px;
    }*/

    blockquote p {
      font-size: 20px;
      padding: 50px 60px;
      letter-spacing: 0.6px;
      margin-bottom: 20px;
      margin-top: 40px;
    }

    blockquote.black-background {
      margin-bottom: 40px;
      margin-top: 40px;
    }

}


.page-content ul,
.page-content ol {
   width: auto;
   overflow: hidden;
}

.center-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul,
ol {
    padding: 0 0 20px 20px;
    margin: 0;
    list-style: none;
}

ul li {
      position: relative;
    padding: 0 0 0 20px;
    margin: 0 0 8px 0;
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 400;
    font-family: 'Urbanist', sans-serif;
}

ul li:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #4F5954;
}

ol li {
    display: list-item;
    padding: 0 0 20px 26px;
    font-size: 14px;
    line-height: 1.57em;
    font-weight: 400;
    counter-increment: list;
    list-style-type: none;
    position: relative;
    font-family: 'Urbanist', sans-serif;
}

ol li::before {
    color: #000000;
    content: counter(list) ".";
    left: 0px;
    position: absolute;
    text-align: right;
    width: 15px;
    font-weight: 600;
    font-family: 'Urbanist', sans-serif;
}

a {
    color:#28B47A;
    font-weight: 800;
    text-decoration: none;
    border-bottom: 1px solid #28B47A;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

    a:hover {
        color: #04120C;
        border-bottom: 1px solid #04120C;
    }

    @media (min-width: 768px) {
      ul,
      ol {
          padding-bottom: 20px;
          padding-top: 5px;
          padding-left: 30px;
      }

      ul li,
      ol li {
        font-size: 15px;
      }

    }

    @media (min-width: 1200px) {
        ul,
        ol {
            padding-bottom: 20px;
            padding-left: 50px;
        }

        ul li,
        ol li {
          font-size: 17px;
        }

        ul li:before {
          top: 13px;
      }
    }

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/


/**
  * Wrappers
  */


  .container,
  .container-fluid {
      margin-right: auto;
      margin-left: auto;
      padding-left: 24px;
      padding-right: 24px;
  }

  .container {
      max-width: 1356px;
  }

      @media (min-width: 768px) {
          .container,
          .container-fluid {
              padding-left: 40px;
              padding-right: 40px;
          }
      }

      @media (min-width: 1025px) {
        .container,
        .container-fluid {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

/**
  * Grid System
  *
  * Bootstrap v3.3.1 (http://getbootstrap.com)
  * Copyright 2011-2014 Twitter, Inc.
  * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
  * --------------------------------------------------------------------------
  * Base setup 20px gutters
  *
  * Phones         - xxs - <  600px    ** Default **
  * Small Tablets  - xs - >=  600px
  * Tablets        - sm - >= 768px
  * Desktop        - md - >= 1025px
  * Large Desktop  - lg - >= 1200px
  * --------------------------------------------------------------------------
  * Learn more here: http://getbootstrap.com/css/#grid
  * -------------------------------------------------------------------------- */

  .row {
    margin-left: -16px;
    margin-right: -16px;
}

    [class*="col-"] {
        position: relative;
        min-height: 1px;
        padding-left: 16px;
        padding-right: 16px;
    }

/* Extra Extra small devices (devices, less than 600px) */
[class*="col-xxs-"] { float:left; }

.col-xxs-12 { width: 100%; }
.col-xxs-11 { width: 91.66666667%; }
.col-xxs-10 { width: 83.33333333%; }
.col-xxs-9  { width: 75%; }
.col-xxs-8  { width: 66.66666667%; }
.col-xxs-7  { width: 58.33333333%; }
.col-xxs-6  { width: 50%; }
.col-xxs-5  { width: 41.66666667%; }
.col-xxs-4  { width: 33.33333333%; }
.col-xxs-3  { width: 25%; }
.col-xxs-2  { width: 16.66666667%; }
.col-xxs-1  { width: 8.33333333%; }

.col-xxs-pull-12 { right: 100%; }
.col-xxs-pull-11 { right: 91.66666667%; }
.col-xxs-pull-10 { right: 83.33333333%; }
.col-xxs-pull-9  { right: 75%; }
.col-xxs-pull-8  { right: 66.66666667%; }
.col-xxs-pull-7  { right: 58.33333333%; }
.col-xxs-pull-6  { right: 50%; }
.col-xxs-pull-5  { right: 41.66666667%; }
.col-xxs-pull-4  { right: 33.33333333%; }
.col-xxs-pull-3  { right: 25%; }
.col-xxs-pull-2  { right: 16.66666667%; }
.col-xxs-pull-1  { right: 8.33333333%; }
.col-xxs-pull-0  { right: auto; }

.col-xxs-push-12 { left: 100%; }
.col-xxs-push-11 { left: 91.66666667%; }
.col-xxs-push-10 { left: 83.33333333%; }
.col-xxs-push-9  { left: 75%; }
.col-xxs-push-8  { left: 66.66666667%; }
.col-xxs-push-7  { left: 58.33333333%; }
.col-xxs-push-6  { left: 50%; }
.col-xxs-push-5  { left: 41.66666667%; }
.col-xxs-push-4  { left: 33.33333333%; }
.col-xxs-push-3  { left: 25%; }
.col-xxs-push-2  { left: 16.66666667%; }
.col-xxs-push-1  { left: 8.33333333%; }
.col-xxs-push-0  { left: auto; }

.col-xxs-offset-12 { margin-left: 100%; }
.col-xxs-offset-11 { margin-left: 91.66666667%; }
.col-xxs-offset-10 { margin-left: 83.33333333%; }
.col-xxs-offset-9  { margin-left: 75%; }
.col-xxs-offset-8  { margin-left: 66.66666667%; }
.col-xxs-offset-7  { margin-left: 58.33333333%; }
.col-xxs-offset-6  { margin-left: 50%; }
.col-xxs-offset-5  { margin-left: 41.66666667%; }
.col-xxs-offset-4  { margin-left: 33.33333333%; }
.col-xxs-offset-3  { margin-left: 25%; }
.col-xxs-offset-2  { margin-left: 16.66666667%; }
.col-xxs-offset-1  { margin-left: 8.33333333%; }
.col-xxs-offset-0  { margin-left: 0; }

/* Extra small devices (phones, 600px and up) */
@media (min-width: 600px) {
    [class*="col-xs-"] {float:left;}

    .col-xs-12 { width: 100%; }
    .col-xs-11 { width: 91.66666667%; }
    .col-xs-10 { width: 83.33333333%; }
    .col-xs-9  { width: 75%; }
    .col-xs-8  { width: 66.66666667%; }
    .col-xs-7  { width: 58.33333333%; }
    .col-xs-6  { width: 50%; }
    .col-xs-5  { width: 41.66666667%; }
    .col-xs-4  { width: 33.33333333%; }
    .col-xs-3  { width: 25%; }
    .col-xs-2  { width: 16.66666667%; }
    .col-xs-1  { width: 8.33333333%; }

    .col-xs-pull-12 { right: 100%; }
    .col-xs-pull-11 { right: 91.66666667%; }
    .col-xs-pull-10 { right: 83.33333333%; }
    .col-xs-pull-9  { right: 75%; }
    .col-xs-pull-8  { right: 66.66666667%; }
    .col-xs-pull-7  { right: 58.33333333%; }
    .col-xs-pull-6  { right: 50%; }
    .col-xs-pull-5  { right: 41.66666667%; }
    .col-xs-pull-4  { right: 33.33333333%; }
    .col-xs-pull-3  { right: 25%; }
    .col-xs-pull-2  { right: 16.66666667%; }
    .col-xs-pull-1  { right: 8.33333333%; }
    .col-xs-pull-0  { right: auto; }

    .col-xs-push-12 { left: 100%; }
    .col-xs-push-11 { left: 91.66666667%; }
    .col-xs-push-10 { left: 83.33333333%; }
    .col-xs-push-9  { left: 75%; }
    .col-xs-push-8  { left: 66.66666667%; }
    .col-xs-push-7  { left: 58.33333333%; }
    .col-xs-push-6  { left: 50%; }
    .col-xs-push-5  { left: 41.66666667%; }
    .col-xs-push-4  { left: 33.33333333%; }
    .col-xs-push-3  { left: 25%; }
    .col-xs-push-2  { left: 16.66666667%; }
    .col-xs-push-1  { left: 8.33333333%; }
    .col-xs-push-0  { left: auto; }

    .col-xs-offset-12 { margin-left: 100%; }
    .col-xs-offset-11 { margin-left: 91.66666667%; }
    .col-xs-offset-10 { margin-left: 83.33333333%; }
    .col-xs-offset-9  { margin-left: 75%; }
    .col-xs-offset-8  { margin-left: 66.66666667%; }
    .col-xs-offset-7  { margin-left: 58.33333333%; }
    .col-xs-offset-6  { margin-left: 50%; }
    .col-xs-offset-5  { margin-left: 41.66666667%; }
    .col-xs-offset-4  { margin-left: 33.33333333%; }
    .col-xs-offset-3  { margin-left: 25%; }
    .col-xs-offset-2  { margin-left: 16.66666667%; }
    .col-xs-offset-1  { margin-left: 8.33333333%; }
    .col-xs-offset-0  { margin-left: 0; }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    [class*="col-sm-"] {float:left;}

    .col-sm-12 { width: 100%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-9  { width: 75%; }
    .col-sm-8  { width: 66.66666667%; }
    .col-sm-7  { width: 58.33333333%; }
    .col-sm-6  { width: 50%; }
    .col-sm-5  { width: 41.66666667%; }
    .col-sm-4  { width: 33.33333333%; }
    .col-sm-3  { width: 25%; }
    .col-sm-2  { width: 16.66666667%; }
    .col-sm-1  { width: 8.33333333%; }

    .col-sm-pull-12 { right: 100%; }
    .col-sm-pull-11 { right: 91.66666667%; }
    .col-sm-pull-10 { right: 83.33333333%; }
    .col-sm-pull-9  { right: 75%; }
    .col-sm-pull-8  { right: 66.66666667%; }
    .col-sm-pull-7  { right: 58.33333333%; }
    .col-sm-pull-6  { right: 50%; }
    .col-sm-pull-5  { right: 41.66666667%; }
    .col-sm-pull-4  { right: 33.33333333%; }
    .col-sm-pull-3  { right: 25%; }
    .col-sm-pull-2  { right: 16.66666667%; }
    .col-sm-pull-1  { right: 8.33333333%; }
    .col-sm-pull-0  { right: auto; }

    .col-sm-push-12 { left: 100%; }
    .col-sm-push-11 { left: 91.66666667%; }
    .col-sm-push-10 { left: 83.33333333%; }
    .col-sm-push-9  { left: 75%; }
    .col-sm-push-8  { left: 66.66666667%; }
    .col-sm-push-7  { left: 58.33333333%; }
    .col-sm-push-6  { left: 50%; }
    .col-sm-push-5  { left: 41.66666667%; }
    .col-sm-push-4  { left: 33.33333333%; }
    .col-sm-push-3  { left: 25%; }
    .col-sm-push-2  { left: 16.66666667%; }
    .col-sm-push-1  { left: 8.33333333%; }
    .col-sm-push-0  { left: auto; }

    .col-sm-offset-12 { margin-left: 100%; }
    .col-sm-offset-11 { margin-left: 91.66666667%; }
    .col-sm-offset-10 { margin-left: 83.33333333%; }
    .col-sm-offset-9  { margin-left: 75%; }
    .col-sm-offset-8  { margin-left: 66.66666667%; }
    .col-sm-offset-7  { margin-left: 58.33333333%; }
    .col-sm-offset-6  { margin-left: 50%; }
    .col-sm-offset-5  { margin-left: 41.66666667%; }
    .col-sm-offset-4  { margin-left: 33.33333333%; }
    .col-sm-offset-3  { margin-left: 25%; }
    .col-sm-offset-2  { margin-left: 16.66666667%; }
    .col-sm-offset-1  { margin-left: 8.33333333%; }
    .col-sm-offset-0  { margin-left: 0; }
}

/* Medium devices (desktops, 1025px and up) */
@media (min-width: 1025px) {
    [class*="col-md-"] {float:left;}

    .col-md-12 { width: 100%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-9  { width: 75%; }
    .col-md-8  { width: 66.66666667%; }
    .col-md-7  { width: 58.33333333%; }
    .col-md-6  { width: 50%; }
    .col-md-5  { width: 41.66666667%; }
    .col-md-4  { width: 33.33333333%; }
    .col-md-3  { width: 25%; }
    .col-md-2  { width: 16.66666667%; }
    .col-md-1  { width: 8.33333333%; }

    .col-md-pull-12 { right: 100%; }
    .col-md-pull-11 { right: 91.66666667%; }
    .col-md-pull-10 { right: 83.33333333%; }
    .col-md-pull-9  { right: 75%; }
    .col-md-pull-8  { right: 66.66666667%; }
    .col-md-pull-7  { right: 58.33333333%; }
    .col-md-pull-6  { right: 50%; }
    .col-md-pull-5  { right: 41.66666667%; }
    .col-md-pull-4  { right: 33.33333333%; }
    .col-md-pull-3  { right: 25%; }
    .col-md-pull-2  { right: 16.66666667%; }
    .col-md-pull-1  { right: 8.33333333%; }
    .col-md-pull-0  { right: auto; }

    .col-md-push-12 { left: 100%; }
    .col-md-push-11 { left: 91.66666667%; }
    .col-md-push-10 { left: 83.33333333%; }
    .col-md-push-9  { left: 75%; }
    .col-md-push-8  { left: 66.66666667%; }
    .col-md-push-7  { left: 58.33333333%; }
    .col-md-push-6  { left: 50%; }
    .col-md-push-5  { left: 41.66666667%; }
    .col-md-push-4  { left: 33.33333333%; }
    .col-md-push-3  { left: 25%; }
    .col-md-push-2  { left: 16.66666667%; }
    .col-md-push-1  { left: 8.33333333%; }
    .col-md-push-0  { left: auto; }

    .col-md-offset-12 { margin-left: 100%; }
    .col-md-offset-11 { margin-left: 91.66666667%; }
    .col-md-offset-10 { margin-left: 83.33333333%; }
    .col-md-offset-9  { margin-left: 75%; }
    .col-md-offset-8  { margin-left: 66.66666667%; }
    .col-md-offset-7  { margin-left: 58.33333333%; }
    .col-md-offset-6  { margin-left: 50%; }
    .col-md-offset-5  { margin-left: 41.66666667%; }
    .col-md-offset-4  { margin-left: 33.33333333%; }
    .col-md-offset-3  { margin-left: 25%; }
    .col-md-offset-2  { margin-left: 16.66666667%; }
    .col-md-offset-1  { margin-left: 8.33333333%; }
    .col-md-offset-0  { margin-left: 0; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    [class*="col-lg-"] {float:left;}

    .col-lg-12 { width: 100%; }
    .col-lg-11 { width: 91.66666667%; }
    .col-lg-10 { width: 83.33333333%; }
    .col-lg-9  { width: 75%; }
    .col-lg-8  { width: 66.66666667%; }
    .col-lg-7  { width: 58.33333333%; }
    .col-lg-6  { width: 50%; }
    .col-lg-5  { width: 41.66666667%; }
    .col-lg-4  { width: 33.33333333%; }
    .col-lg-3  { width: 25%; }
    .col-lg-2  { width: 16.66666667%; }
    .col-lg-1  { width: 8.33333333%; }

    .col-lg-pull-12 { right: 100%; }
    .col-lg-pull-11 { right: 91.66666667%; }
    .col-lg-pull-10 { right: 83.33333333%; }
    .col-lg-pull-9  { right: 75%; }
    .col-lg-pull-8  { right: 66.66666667%; }
    .col-lg-pull-7  { right: 58.33333333%; }
    .col-lg-pull-6  { right: 50%; }
    .col-lg-pull-5  { right: 41.66666667%; }
    .col-lg-pull-4  { right: 33.33333333%; }
    .col-lg-pull-3  { right: 25%; }
    .col-lg-pull-2  { right: 16.66666667%; }
    .col-lg-pull-1  { right: 8.33333333%; }
    .col-lg-pull-0  { right: auto; }

    .col-lg-push-12 { left: 100%; }
    .col-lg-push-11 { left: 91.66666667%; }
    .col-lg-push-10 { left: 83.33333333%; }
    .col-lg-push-9  { left: 75%; }
    .col-lg-push-8  { left: 66.66666667%; }
    .col-lg-push-7  { left: 58.33333333%; }
    .col-lg-push-6  { left: 50%; }
    .col-lg-push-5  { left: 41.66666667%; }
    .col-lg-push-4  { left: 33.33333333%; }
    .col-lg-push-3  { left: 25%; }
    .col-lg-push-2  { left: 16.66666667%; }
    .col-lg-push-1  { left: 8.33333333%; }
    .col-lg-push-0  { left: auto; }

    .col-lg-offset-12 { margin-left: 100%; }
    .col-lg-offset-11 { margin-left: 91.66666667%; }
    .col-lg-offset-10 { margin-left: 83.33333333%; }
    .col-lg-offset-9  { margin-left: 75%; }
    .col-lg-offset-8  { margin-left: 66.66666667%; }
    .col-lg-offset-7  { margin-left: 58.33333333%; }
    .col-lg-offset-6  { margin-left: 50%; }
    .col-lg-offset-5  { margin-left: 41.66666667%; }
    .col-lg-offset-4  { margin-left: 33.33333333%; }
    .col-lg-offset-3  { margin-left: 25%; }
    .col-lg-offset-2  { margin-left: 16.66666667%; }
    .col-lg-offset-1  { margin-left: 8.33333333%; }
    .col-lg-offset-0  { margin-left: 0; }
}



/**
* Clearfix
* Apply clearing without adding additional markup
*/

.clearfix:before, .clearfix:after,
.container:before, .container:after,
.container-fluid:before, .container-fluid:after,
.row:before, .row:after {
    content: " ";
    display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after { clear: both; }



/*--------------------------------------------------------------*\
     OBJECTS
     Objects are independent generic stylibf classes or UI peices.
     All styles for objects should be self contained.

     e.g. an object shouldn't rely on trump helpers to apply padding etc.
 \*--------------------------------------------------------------*/


/**
 * Buttons
 */

 .btn {
  font-size: 14px;
  display: inline-block;
  padding: 13px 23px;
  line-height: 1.2em;
  border-radius: 0;
  text-decoration: none;
  font-family: 'Urbanist', sans-serif;
  border: none;
  font-weight: 700;
  position: relative;
  transition: all .3s ease-in-out;
  vertical-align: middle;
  background:#28B47A;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  color: #ffffff;
  transition:all 0.3s ease;
  background:#28B47A;
}

    .btn-primary:hover {
        background:#1F8A5E;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        border: none;
    }

    .black-primary {
        color: #ffffff;
        transition:all 0.3s ease;
        background:#04120C;
    }

    .black-primary:hover {
        background:#4F5954;
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        border: none;
    }

    .white-primary {
        color: #04120C;
        transition:all 0.3s ease;
        background:#FFFFFF;
  }

  .white-primary:hover {
        background:#E1EFDF;
        text-decoration: none;
        color: #04120C;
        font-weight: 700;
        border: none;
  }


.btn-secondary {
  background:transparent;
  color: #28B47A;
  transition:all 0.3s ease;
  padding: 0 28px 0 0;
}

.btn-secondary::before {
    content: "\e902";
    font-family: 'icomoon';
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    font-weight: normal;
    transition: all 0.4s ease 0s;
}

.btn-secondary:hover::before, .black-secondary:hover::before {
    right: -5px;
}

.btn-secondary:hover {
    text-decoration: none;
    color: #1F8A5E;
    border: none;
    font-weight: 700;
}

    .black-secondary {
        background:transparent;
        color: #04120C;
        transition:all 0.3s ease;
        padding: 0 28px 0 0;
    }

  .black-secondary::before {
      content: "\e902";
      font-family: 'icomoon';
      position: absolute;
      right: 0;
      top: 0;
      font-size: 17px;
      font-weight: normal;
      transition: all 0.4s ease 0s;
  }

      .black-secondary:hover {
          text-decoration: none;
          color: #4F5954;
          border: none;
          font-weight: 700;
      }

      .white-secondary {
          background:transparent;
          color: #FFFFFF;
          transition:all 0.3s ease;
          padding: 0 28px 0 0;
    }

      .white-secondary::before {
          content: "\e902";
          font-family: 'icomoon';
          position: absolute;
          right: 0;
          top: 0;
          font-size: 17px;
          font-weight: normal;
    }

      .white-secondary:hover {
          text-decoration: none;
          color: #E1EFDF;
          border: none;
          font-weight: 700;
      }

.btn-block {
  display: block;
  width: 100%;
}

.btn {
    margin: 10px;
}

.btn + .btn {
  margin-top: 10px;
}

@media (min-width: 768px) {
    .btn {
        margin: 0px;
    }
  .btn + .btn {
    margin-left: 15px;
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .btn + .btn {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .btn {
      font-size: 16px;
      padding: 17px 32px;
  }

  .black-secondary,
  .btn-secondary,
  .white-secondary {
      padding: 0 28px 0 0;
  }

}



/**
 * Icons
 */

  @font-face {
    font-family: 'icomoon';
    src:  url('https://roofrx.webpagefxstage.com/wp-content/themes/roofrx/assets/icons/icomoon.eot?o66vbc');
    src:  url('https://roofrx.webpagefxstage.com/wp-content/themes/roofrx/assets/icons/icomoon.eot?o66vbc#iefix') format('embedded-opentype'),
      url('https://roofrx.webpagefxstage.com/wp-content/themes/roofrx/assets/icons/icomoon.ttf?o66vbc') format('truetype'),
      url('https://roofrx.webpagefxstage.com/wp-content/themes/roofrx/assets/icons/icomoon.woff?o66vbc') format('woff'),
      url('https://roofrx.webpagefxstage.com/wp-content/themes/roofrx/assets/icons/icomoon.svg?o66vbc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

    .icon-menu-bar:before {
      content: "\e913";
    }
    .icon-close:before {
      content: "\e914";
    }
  .icon-arrow-down:before {
    content: "\e900";
  }
  .icon-arrow-left:before {
    content: "\e901";
  }
  .icon-arrow-right:before {
    content: "\e902";
  }
  .icon-arrow-up:before {
    content: "\e903";
  }
  .icon-check:before {
    content: "\e904";
  }
  .icon-chevron-down:before {
    content: "\e905";
  }
  .icon-chevron-left:before {
    content: "\e906";
  }
  .icon-chevron-right:before {
    content: "\e907";
  }
  .icon-chevron-up:before {
    content: "\e908";
  }
  .icon-error:before {
    content: "\e909";
  }
  .icon-eye:before {
    content: "\e90a";
  }
  .icon-facebook:before {
    content: "\e90b";
  }
  .icon-instagram:before {
    content: "\e90c";
  }
  .icon-phone:before {
    content: "\e90d";
  }
  .icon-pin:before {
    content: "\e90e";
  }
  .icon-quote:before {
    content: "\e90f";
  }
  .icon-search:before {
    content: "\e910";
  }
  .icon-star:before {
    content: "\e911";
  }
  .icon-yelp:before {
    content: "\e912";
  }



/**
 * Forms
 */


 .form-col {
    margin-bottom: 26px;
    position: relative;
}

label {
    padding: 0 0 6px 0;
    font-size: 17px;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-align: left;
    color: #4F5954;
    display: block;
    font-family: 'Urbanist', sans-serif;
    transition: all ease-in-out .3s;
}

textarea {
    resize: none;
    padding: 15px 20px;
    font-size: 17px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: left;
    color: #4F5954;
    display: block;
    height: 150px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    font-family: 'Urbanist', sans-serif;
    border-radius: 0px;
}

input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
  -webkit-appearance: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}


[type="text"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
[type="date"] {
    padding: 0 20px;
    font-size: 17px;
    line-height: 1.3em;
    font-weight: 500;
    text-align: left;
    color: #4F5954;
    display: block;
    height: 48px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    font-family: 'Urbanist', sans-serif;
    border-radius: 0px;
}


[type="text"]:focus,
[type="date"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="week"]:focus,
[type="date"]:focus,
textarea:focus {
    outline: none;
    border: 1px solid #D8D8D8;
    border-bottom: 4px solid #28B47A;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  color: rgba(79,89,84,0.5);
  opacity: 1;
}

button[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0 !important;
}

@media (min-width: 768px) {
    textarea {
        height: 260px;
    }
}




/**
 * Pagination
 */

 .wp-pagenavi {
    margin-top: 50px;
}

.wp-pagenavi .pages {
    border: 0;
    margin-left: 0;
    padding-left: 0;
}

.wp-pagenavi span.current,
.wp-pagenavi .page,
.wp-pagenavi .nextpostslink,
.wp-pagenavi .previouspostslink {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 11px;
}

.wp-pagenavi span.current {
    background-color: #ddd;
    border-color: #ddd;
}

@media (min-width: 1025px) {

    .wp-pagenavi { margin-top: 70px; }

}



/**
 * Sticky Sidebar
 */

@media( min-width: 1025px ) {
    .sticky-sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 125px;
    }
}



/**
* masthead-inner
*
*/

.masthead-inner {
    position: relative;
    padding: 0 0;
}

.masthead-content {
    position: relative;
}

.masthead-inner-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.masthead-inner-image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.masthead-inner-content {
    width: 100%;
    height: 100%;
    color: #ffffff;
    z-index: 9;
    position: relative;
    padding: 35px 0;
    background: rgba(4, 18, 12, 0.85);
    text-align: center;
}

.masthead-inner + .image-text-section {
    margin-top: -35px;
}

@media (min-width: 768px) {
    .masthead-inner-content {
        padding: 40px 0;
    }
}


@media (min-width: 1200px) {
    .masthead-inner-content {
        padding: 75px 0;
    }
    .masthead-inner + .image-text-section {
        margin-top: 0;
    }
}


.section-margins {
    padding: 75px 0;
}

/* Re-order section in mobile */
@media (max-width: 767px) {
    .home-blocks-section {
        display: flex;
        flex-direction: column;
    }
    .home-blocks-section section.masthead { order: 1; }
    .home-blocks-section section.roofing-services { order: 2; }
    .home-blocks-section section.about { order: 5; }
    .home-blocks-section section.service-area { order: 3; }
    .home-blocks-section section.project-gallery { order: 6; }
    .home-blocks-section section.testimonials { order: 4; }
    .home-blocks-section section.certifications { order: 7; }
    .home-blocks-section section.cta { order: 8; }
}

.slanted-top-corner::after {
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    transform: skewY(3deg);
    z-index: 9;
}

.mobile-top-80px { margin-top: -80px; }
.mobile-top-70px { margin-top: -70px; }
.mobile-top-60px { margin-top: -60px; }
.mobile-top-50px { margin-top: -50px; }
.mobile-top-40px { margin-top: -40px; }
.mobile-top-30px { margin-top: -30px; }
.mobile-top-20px { margin-top: -20px; }
.mobile-top-10px { margin-top: -10px; }
.mobile-top0px { margin-top: 0px; }
.mobile-top10px { margin-top: 10px; }
.mobile-top20px { margin-top: 20px; }
.mobile-top30px { margin-top: 30px; }
.mobile-top40px { margin-top: 40px; }
.mobile-top50px { margin-top: 50px; }
.mobile-top60px { margin-top: 60px; }
.mobile-top70px { margin-top: 70px; }
.mobile-top80px { margin-top: 80px; }

.mobile-bottom-80px { margin-bottom: -80px; }
.mobile-bottom-70px { margin-bottom: -70px; }
.mobile-bottom-60px { margin-bottom: -60px; }
.mobile-bottom-50px { margin-bottom: -50px; }
.mobile-bottom-40px { margin-bottom: -40px; }
.mobile-bottom-30px { margin-bottom: -30px; }
.mobile-bottom-20px { margin-bottom: -20px; }
.mobile-bottom-10px { margin-bottom: -10px; }
.mobile-bottom0px { margin-bottom: 0px; }
.mobile-bottom10px { margin-bottom: 10px; }
.mobile-bottom20px { margin-bottom: 20px; }
.mobile-bottom30px { margin-bottom: 30px; }
.mobile-bottom40px { margin-bottom: 40px; }
.mobile-bottom50px { margin-bottom: 50px; }
.mobile-bottom60px { margin-bottom: 60px; }
.mobile-bottom70px { margin-bottom: 70px; }
.mobile-bottom80px { margin-bottom: 80px; }


@media (min-width: 768px) {

    .slanted-top-corner::after {
        content: "";
        position: absolute;
        background-color: var(--bg-color);
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        transform: skewY(3deg);
        z-index: 9;
    }

    .tablet-top-80px { margin-top: -80px; }
    .tablet-top-70px { margin-top: -70px; }
    .tablet-top-60px { margin-top: -60px; }
    .tablet-top-50px { margin-top: -50px; }
    .tablet-top-40px { margin-top: -40px; }
    .tablet-top-30px { margin-top: -30px; }
    .tablet-top-20px { margin-top: -20px; }
    .tablet-top-10px { margin-top: -10px; }
    .tablet-top0px { margin-top: 0px; }
    .tablet-top10px { margin-top: 10px; }
    .tablet-top20px { margin-top: 20px; }
    .tablet-top30px { margin-top: 30px; }
    .tablet-top40px { margin-top: 40px; }
    .tablet-top50px { margin-top: 50px; }
    .tablet-top60px { margin-top: 60px; }
    .tablet-top70px { margin-top: 70px; }
    .tablet-top80px { margin-top: 80px; }

    .tablet-bottom-80px { margin-bottom: -80px; }
    .tablet-bottom-70px { margin-bottom: -70px; }
    .tablet-bottom-60px { margin-bottom: -60px; }
    .tablet-bottom-50px { margin-bottom: -50px; }
    .tablet-bottom-40px { margin-bottom: -40px; }
    .tablet-bottom-30px { margin-bottom: -30px; }
    .tablet-bottom-20px { margin-bottom: -20px; }
    .tablet-bottom-10px { margin-bottom: -10px; }
    .tablet-bottom0px { margin-bottom: 0px; }
    .tablet-bottom10px { margin-bottom: 10px; }
    .tablet-bottom20px { margin-bottom: 20px; }
    .tablet-bottom30px { margin-bottom: 30px; }
    .tablet-bottom40px { margin-bottom: 40px; }
    .tablet-bottom50px { margin-bottom: 50px; }
    .tablet-bottom60px { margin-bottom: 60px; }
    .tablet-bottom70px { margin-bottom: 70px; }
    .tablet-bottom80px { margin-bottom: 80px; }
}

@media (min-width: 1200px) {

/*    .slanted-top-corner::before {
        content: "";
        position: absolute;
        background-color: var(--bg-color);
        width: 100%;
        height: 200px;
        top: 0;
        left: 0;
        transform: skewY(3deg);
        z-index: 9;
    }*/

    .slanted-top-corner::after {
        content: "";
        position: absolute;
        background-color: var(--bg-color);
        width: 100%;
        height: 200px;
        bottom: 0;
        left: 0;
        transform: skewY(3deg);
        z-index: 9;
    }

    .desktop-top-80px { margin-top: -80px; }
    .desktop-top-70px { margin-top: -70px; }
    .desktop-top-60px { margin-top: -60px; }
    .desktop-top-50px { margin-top: -50px; }
    .desktop-top-40px { margin-top: -40px; }
    .desktop-top-30px { margin-top: -30px; }
    .desktop-top-20px { margin-top: -20px; }
    .desktop-top-10px { margin-top: -10px; }
    .desktop-top0px { margin-top: 0px; }
    .desktop-top10px { margin-top: 10px; }
    .desktop-top20px { margin-top: 20px; }
    .desktop-top30px { margin-top: 30px; }
    .desktop-top40px { margin-top: 40px; }
    .desktop-top50px { margin-top: 50px; }
    .desktop-top60px { margin-top: 60px; }
    .desktop-top70px { margin-top: 70px; }
    .desktop-top80px { margin-top: 80px; }

    .desktop-bottom-80px { margin-bottom: -80px; }
    .desktop-bottom-70px { margin-bottom: -70px; }
    .desktop-bottom-60px { margin-bottom: -60px; }
    .desktop-bottom-50px { margin-bottom: -50px; }
    .desktop-bottom-40px { margin-bottom: -40px; }
    .desktop-bottom-30px { margin-bottom: -30px; }
    .desktop-bottom-20px { margin-bottom: -20px; }
    .desktop-bottom-10px { margin-bottom: -10px; }
    .desktop-bottom0px { margin-bottom: 0px; }
    .desktop-bottom10px { margin-bottom: 10px; }
    .desktop-bottom20px { margin-bottom: 20px; }
    .desktop-bottom30px { margin-bottom: 30px; }
    .desktop-bottom40px { margin-bottom: 40px; }
    .desktop-bottom50px { margin-bottom: 50px; }
    .desktop-bottom60px { margin-bottom: 60px; }
    .desktop-bottom70px { margin-bottom: 70px; }
    .desktop-bottom80px { margin-bottom: 80px; }

}
