/*------------------------------------*\

    Header CSS

    eg: Header, Navigation, Ubermenu, Masthead
    Page head.............The main page header.
    Navigation............Navigation elements + Ubermenu.
    Masthead..............Page title/image/slideshow header block.

\*------------------------------------*/

/**
 * Page-head
 */


.page-header {
    top: 0;
    padding: 0 0 0;
    position: relative;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #FFFFFF;
}

@media (max-width: 1380px) {
    .page-header .row {
        margin: 0;
    }
}

.nav-fixed {
    background-color: #404040;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    z-index: 99999;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fixed-quote-btn {
    text-align: center;
    margin-top: 11px;
    padding-right: 20px;
}

.fixed-quote-btn .btn {
    padding: 11px 20px;
    margin: 0px;
    font-weight: normal;
}

.call-btn {
    padding: 11px 12px;
    border-left: 1px solid rgba( 241, 242, 241, .10 );
    border-right: 1px solid rgba( 241, 242, 241, .10 );
}

.call-btn a {
    font-size: 10px;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}

.call-btn a i {
    font-size: 19px;
    display: block;
}

.call-btn a:hover {
    font-weight: 700;
    color: #28B47A;
}

.toggle-menu {
    float: right;
    font-size: 10px;
    font-family: 'Urbanist',sans-serif;
    font-weight: 500;
    color: #fff;
    line-height: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    padding: 0 0 0 0;
    letter-spacing: 1px;
    margin: 9px 0 0 0;
}

.toggle-menu .icon-menu-bar {
    display: block;
    padding-bottom: 1px;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.5;
}

.icon-menu-bar:before {
    font-weight: normal;
}

.toggle-menu.cross .icon-menu-bar:before,
.toggle-menu.cross .icon-menu-bar::before {
    content: "\e914";
}

.header-main {
    padding: 6px 0;
}

.logo {
    float: left;
    max-width: 80px;
    margin-top: 3px;
}

.logo a {
    border: none;
}

.header-right {
    float: right;
}

.search-content {
    background-color: #fff;
    border: 1px solid #F1F2F1;
    position: relative;
    height: 38px;
    margin: 10px auto;
    max-width: 175px;
    float: right;
}

.search-content form {
    height: 100%;
}

.search-content .icon-search {
    vertical-align: middle;
}

.search-content input[type="text"] {
    width: 100%;
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 45px 0 15px;
    font-family: 'Urbanist', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #04120C;
    font-weight: 600;
    background: transparent;
}

.search-content button[type="submit"] {
    border: none;
    border-radius: 0;
    height: 100%;
    padding: 0 0;
    color:#FFFFFF;
    background-color: #28B47A;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 17px;
    width: 40px;
    margin: 0;
    text-align: center;
    line-height: 38px;
}

.search-content button[type="submit"]:before {
    display: none;
}

.search-content button[type="submit"] i {
    font-size: 17px;
}

.search-content button[type="submit"]:hover {
    color: #fff;
    background: #04120C
}


.top-link ul,
.top-links li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-links li::before {
    display: none;
}

.top-link ul li {
    width: 50%;
    float: left;
    border-right: 1px solid #F1F2F1;
}

.top-links li {
    width: 50%;
    float: left;
}

.top-link ul li:last-child {
    border-right: none;
}

.top-link {
    background: #F8F8F8;
    text-align: center;
    border-bottom: 1px solid #DCDCDC;
    padding: 3px 0;
}

.top-links li a {
    font-size: 12px;
    font-weight: 800;
    color: #28B47A;
    display: inline-block;
    text-align: center;
    border: none;
    font-family: 'Urbanist', sans-serif;
    line-height: 1.2em;
    padding: 0 0 0 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.top-link ul li a span {
    font-weight: 500;
    color: #04120C;
    text-transform: none;
    letter-spacing: 0;
}

.top-links li a span:hover {
    color: #28B47A;
}

.top-link ul li a i {
    vertical-align: middle;
    padding: 0 3px 4px 0;
}

.top-link ul li a:hover span{
    color: #28B47A;
}

.fixed-logo,
.header-fixed-bar .search-content {
    display: none;
}


@media (min-width: 370px) {
    .call-btn {
        padding: 11px 20px;
    }

    .fixed-quote-btn {
        padding-right: 14px;
    }

    .logo {
        max-width: 106px;
        margin-top: 4px;
    }
}
@media (min-width: 768px) {
    .fixed-quote-btn {
        float: right;
        margin-top: 11px;
        padding: 0 15px;
    }

    .fixed-quote-btn .btn {
        padding: 10px 18px 9px;
    }

    .toggle-menu .icon-menu-bar {
        padding-bottom: 2px;
        font-size: 19px;
    }

    .toggle-menu {
        color: #404040;
        margin: 10px 0 0 0;
        font-weight: 700;
        font-size: 10px;
    }

    .search-content {
        height: 38px;
        max-width: 246px;
    }
}

@media (min-width: 1200px) {
    .header-right {
        float: none;
        border-bottom: 1px solid #F1F2F1;
    }

    .search-content {
        height: 42px;
        max-width: 100%;
        width: 334px;
        float: right;
        margin: 25px 0 0;
    }

    .top-links {
        margin: 23px 0 22px 0;
        padding: 0;
        text-align: left;
        float: left;
    }

    .header-main {
        padding: 0 0;
        position: relative;
    }

    .top-links li {
        width: auto;
        float: left;
        padding-right: 40px;
    }

    .logo {
        width: 204px;
        max-width: 100%;
        margin-top: 0;
        position: absolute;
        left: 50%;
        top: 0;
        float: none;
        padding: 13px 0;
        margin-left: -95px;
    }

    .logo img {
        max-width: 142px;
        display: block;
        margin: 0 auto;
    }

    .top-links li a {
        font-size: 12px;
        text-align: left;
    }

    .top-links li a span {
        display: block;
        font-size: 16px;
        color: #04120C;
        font-weight: 500;
        padding-top: 5px;
    }

    .page-header.hideheader {
        top: -180px;
    }

    .page-header.hideheader {
        position: fixed;
        top: 0;
        z-index: 999;
        -webkit-transition: 0.3s all ease;
        -moz-transition: 0.3s all ease;
        transition: 0.3s all ease;
        width: 100%;
        height: auto;
        background: #04120C;
        padding-top: 10px;
    }

    .logged-in .page-header.hideheader {
        top: 32px;
    }

    .page-header.hideheader .header-right {
        display: none;
    }

    .page-header.hideheader .fixed-logo {
        display: block;
        float: left;
        padding: 13px 0;
    }

    .page-header.hideheader .nav-primary a {
        transition: none;
    }

    .page-header.hideheader .nav-primary > ul > li > a {
        padding: 33px 20px;
        color: #fff;
    }

    .page-header.hideheader .nav-primary > ul > li > a:hover {
        color: #28B47A;
    }

    .page-header.hideheader .logo {
        display: none;
    }

    .page-header.hideheader .nav-primary {
        float: right;
        clear: inherit;
        padding-right: 20px;
    }

    .page-header.hideheader .header-fixed-bar .search-content {
        float: right;
        display: block;
        width: 270px;
        background-color: transparent;
        border: 1px solid rgba(241, 242, 241, 0.20);
    }

    .page-header.hideheader .search-content input[type="text"] {
        color: #fff;
    }

    .page-header.hideheader .search-content button[type="submit"] {
        color:#FFFFFF;
        background-color: #28B47A;
    }

    .page-header.hideheader .search-content button[type="submit"]:hover {
        color: #28B47A;
        background: #fff
    }
}


@media (min-width: 1366px) {
    .page-header.hideheader .nav-primary > ul > li > a {
        padding: 33px 30px;
    }
}



/**
 * Navigation
 */


/* General Styling */

.nav-primary {
    padding: 0 0;
    display: none;
    position: fixed;
    background-color: #E1EFDF;
    width: 100%;
    left: 0;
    z-index: 99999;
    font-family: 'Urbanist', sans-serif;
    top: 0;
    height: 100%;
    overflow-y: auto;
}

.nav-primary ul {
    margin: 0 0 0 0;
    padding: 0 0 80px;
    list-style: none;
}

.nav-primary > ul {
    padding: 0px 20px;
}

.nav-primary ul li {
    padding: 0;
    margin: 0;
    position: relative;
    background: none;
    list-style: none;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.nav-primary ul > li:not(:last-child) {
    border-bottom: 1px solid #fff;
}

.nav-primary ul li:last-child a {
    color: #28B47A;
}

.nav-primary ul li::before {
    display: none;
}

.nav-primary ul li a {
    display: block;
    padding: 20px 10px;
    color: rgba( 4, 18, 12, .70);
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    transition: none;
}

.nav-primary ul li .sub-menu-toggle::after {
    content: "\e905";
    font-family: 'icomoon';
}

.nav-primary ul li a:hover {
    color: #28B47A;
}

.nav-primary ul li a:hover + span {
    color: #28B47A;
}

.nav-primary ul li.menu-contact {
    display: none;
}

@media (max-width: 767px) {
    .logged-in .nav-primary,
    .admin-bar .nav-primary {
        top:  45px;
    }
}

.js-scrolled .nav-primary ul li:hover {
    background: transparent;
}

.js-scrolled .nav-primary ul.sub-menu {
    width: auto;
}

.nav-primary ul li:hover {
    background: #F0F7EF;
}

@media (min-width: 1200px) {
    .nav-primary ul li:hover ul.sub-menu {
        display: block;
    }
    .nav-primary ul li.menu-contact {
        display: inline-block;
    }
}

.nav-primary .sub-menu-toggle {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
    line-height: 28px;
    text-align: center;
    color: #4F5954;
    font-size: 8px;
}

.nav-primary .sub-menu-toggle.js-clicked:after {
    content: "\e908";
}

.page-header.hideheader .nav-primary > ul > li:last-child > a {
    color: #28B47A;
}

.nav-primary ul.sub-menu.js-toggled {
    display: block;
}

.page-header.hideheader .nav-primary .sub-menu-toggle {
    top: 34px;
    right: 0;
}

.page-header.hideheader .nav-primary .sub-menu-toggle::after {
    color: #fff;
}

.page-header.hideheader .nav-primary a:hover + .sub-menu-toggle::after {
    color: #28B47A;
}

button:focus {
    outline: none;
}

.nav-primary ul li a {
    border: none !important;
}

.nav-primary ul li a:after {
    /*display: none !important;*/
}

.nav-primary ul.sub-menu {
    display: none;
    padding: 0px;
    background: #E1EFDF;
    width: 100%;
}

.nav-primary ul.sub-menu li {
    margin: 0 0 10px 0;
    padding: 0 0;
    background: none;
    border-bottom: none;
    display: block;
}

.nav-primary ul.sub-menu li a {
    padding: 10px 20px;
    color: #4F5954;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
    text-transform: capitalize;
}

.nav-primary ul.sub-menu li a:hover {
    background: rgba(255,255,255,0.5);
}

.nav-primary ul.sub-menu .sub-menu {
    background: #DBE5ED;
}

.nav-primary ul.sub-menu .sub-menu-toggle {
    height: 42px;
    line-height: 42px;
}

@media (min-width: 768px) {
    .nav-primary {
        top: 148px;
    }

    .nav-primary ul {
        padding: 0 0 0;
    }

    .nav-primary > ul {
        padding: 0px 20px;
    }
}


@media (min-width: 1200px) {
    .nav-primary {
        display: block !important;
        position: relative;
        height: auto;
        overflow-y: inherit;
        background: transparent;
        float: none;
        width: auto;
        top: 0;
        border: none;
        clear: both;
    }

    .nav-primary ul {
        padding: 0 0 0 0;
        text-align: center;
    }

    .nav-primary > ul {
        padding: 0px;
    }

    .nav-primary ul.sub-menu {
        text-align: left;
        position: absolute;
        padding: 20px;
    }

    .nav-primary ul li {
        float: none;
        padding: 0 0;
        border-bottom: none;
        margin: 0 0;
        display: inline-block;
    }

    .nav-primary ul > li:not(:last-child) {
        border: 0px;
    }

    .nav-primary ul li a {
        padding: 15px 57px;
        border:none;
    }

    .nav-primary ul.sub-menu li a {
        padding: 8px 10px;
    }

    .nav-primary .sub-menu-toggle {
        top: 15px;
        right: 30px;
    }
}



/**
 * Ubermenu Styling (Starter CSS - Generally no editing needed)
 */
@media only screen and (max-width: 1024px) {
  /* forces mobile menu to push other menu items down when open instead of the sub-menu overlapping other menu items */
  .ubermenu .ubermenu-item .ubermenu-submenu-drop {
      position: relative !important;
  }

  .ubermenu-responsive.ubermenu {
      margin: 0;
      position: fixed;
      width: 100%;
      z-index: 900;
      background: #f0f0f0;
  }

  .ubermenu .ubermenu-item {
      position: relative !important;
  }

  /* styles the sub-menu indicator on mobile and tablet */
  .ubermenu-sub-indicator {
      position: absolute;
      right: 0;
      top: 0;
      padding: 20px;
      z-index: 900;
  }

  .ubermenu-responsive-toggle {
      float: right;
  }
}

.ubermenu-responsive-toggle i {
    display: block;
    font-size: 30px;
    margin: 0 !important;
}

.ubermenu-sub-indicator-close {
    display: none !important;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 100px;
  }

}

@media only screen and (min-width: 1024px) {
  .ubermenu > ul > li > a {
      padding-top: 40px !important;
      padding-bottom: 40px !important;
      display: block;
  }
}

.sticky-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 9;
    border-top: 1px solid #ccc;
}

.ubermenu-responsive.ubermenu {
    bottom: 80px;
    left: 0;
    max-height: 500px !important;
    overflow-x: scroll !important;
    z-index: 2000;
}

.desktop-menu .ubermenu-responsive-toggle {
    display: none;
    z-index: 2000;
    position: relative;
}

@media only screen and (min-width: 768px) {
  .ubermenu-responsive.ubermenu {
      top: 174px; /* controls position of responsive menu on tablet size */
      bottom: auto;
      max-height: auto !important;
      overflow-x: inherit !important;
  }

  .sticky-bar {
      display: none;
  }

  .desktop-menu {
      display: inline-block;
  }

  .desktop-menu .ubermenu-responsive-toggle {
      display: block;
  }
}

@media only screen and (min-width: 1025px) {
    .desktop-menu .ubermenu-responsive-toggle {
        display: none;
    }
}

/* controls sticky bar menu icon and overlay on mobile */
.sticky-bar .menu-is-active .fa-bars:before {
    content: 'X';
}

body:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, .25 );
    z-index: -1000;
}

body.menu-is-active:after {
    z-index: 1000;
    display: block;
}

@media( max-width: 1024px ) {
    .sticky-bar {
        z-index: 2000 !important;
    }
}

/* Modern IPhone Fixes */
@media screen and (width: 375px) and (height: 813px) {

    .sticky-bar {
        /* prevents 'home indicator' overlap */
        padding-bottom: 34px;

        /* prevents content from being cut off in screen rounded corners */
        padding-left: 16px;
        padding-right: 16px;
    }
}




/**
 * Ubermenu Styling - Custom Styles
 */




/* breadcrumbs */

.breadcrumbs {
    margin: 0;
    padding: 8px 0 0;
    text-align: center;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs ul li {
    margin: 0;
    padding: 0 0;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 10px;
    line-height: 1.1em;
    font-family: 'Urbanist', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: none;
    display: inline-block;
}

.breadcrumbs ul li a {
    padding: 0 11px;
    font-weight: 800;
    background: none;
    color: #FFFFFF;
    border: none;
    font-family: 'Urbanist', sans-serif;
}

.breadcrumbs ul li a:hover {
   color: #28B47A;
}

.breadcrumbs ul li::before {
    display: none;
/*    content: '/';
    position: absolute;
    top: -1px;
    left: -4px;
    font-weight: 500;
    color: #FFFFFF;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0;
    border: none;
    font-size: 15px;*/
}

.breadcrumbs ul li+li {
    padding-left: 11px;
}

.breadcrumbs ul li a:first-child {
    padding-left: 0;
}

.breadcrumbs ul li span {
    padding-left: 11px;
}

.breadcrumbs ul li:first-child::before {
    display: none;
}

@media (min-width: 768px) {
    .breadcrumbs ul li {
        font-size: 11px;
    }
}

@media (min-width: 1200px) {
    .breadcrumbs ul li {
        font-size: 13px;
    }

    .breadcrumbs ul li a {
        padding: 0 11px;
    }
}
