/*------------------------------------*\
    
    Posts CSS
 
    Posts.................Post content for loop on blog homepage, category, search page, archives, etc.
    Sidebar...............Sidebar elements.

\*------------------------------------*/


.post-listing-container {
    padding: 50px 0;
}
.post-listing-container .page-sidebar {
    padding: 0;
}

.archive .blog-post__tags {
    display: none;
}

@media (min-width: 768px) {
    .post-listing-container  {
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .post-listing-container  {
        padding: 95px 0 110px;
    }
}


.post-item {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
}

.post-item:first-of-type {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
}

.post-item__heading a {
    text-decoration: none;
}

.post-item .btn,
.post-item .btn-primary {
    margin-top: 30px;
}

.post-item__meta {
    font-size: .8em;
}


@media (min-width: 1025px) {

    .post-item {
        padding-top: 50px;
        margin-top: 50px;
    }

}


/**
 * Sidebar
 */

/* Blog Sidebar */

.blog .page-sidebar .widget {
	margin-bottom: 50px;
}



/**
* FX Load More
*/

/* Load More Progress Bar */
.load-more__progress {
    margin-top: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 10px;
    border: 0;
    border-radius: 10px;
    min-width: 250px;
    overflow: hidden;
}
progress::-webkit-progress-bar,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    height: 10px;
    border: 0;
    border-radius: 0; 
}
progress::-webkit-progress-bar {
    background-color: #F1F2F1;
}
progress::-webkit-progress-value {
    background-color: #28B47A;
}

progress[value]::-webkit-progress-value {
    background: #28B47A;
    border-radius: 10px;
}


/* Loading Indicator */
.is-loading:before  {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-color: #E3E3E3 #E3E3E3 transparent;
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: simpleSpin 1.5s linear infinite;
    animation: simpleSpin 1.5s linear infinite;
}

/* Load More Button */
.load-more {
    text-align: center;
    margin: 30px 0;
    position: relative;
    z-index: 9;
}

.load-more__btn {
    border: 0;
    display: block;
    margin: 20px auto 0px;
    transition: all 0.4s ease 0s;
}

.load-more__btn:hover {
    background: #1F8A5E;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    border: none;
}

.load-more__btn.is-loading {
    position: relative;
    opacity: 0.6;
    cursor: not-allowed;
}

.load-more__btn.is-loading:before {
    width: 20px;
    height: 20px;
}

.js-load-more-posts

@media (min-width: 1025px) {
    .load-more {
        margin-top: 30px;
    }
}

/* Placeholder Space */
.placeholder-block {
    position: relative;
    display: flex;
}

.placeholder-block__inner {
    flex-grow: 1;
    background-color: #fafafa;
}

.placeholder-block.is-loading:before {
    width: 50px;
    height: 50px;
}

@-webkit-keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes simpleSpin {
    0% {
        -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}


/* Search Results */
.search-result {
    text-decoration: none;
    margin-bottom: 50px;
    display: block;
    border: 0;
}

.search-result:hover {
    border: 0;
    color: #28B47A;
}

.search-result__title {
    margin-bottom: 16px;
}

.search-result__excerpt {
    margin-bottom: 20px;
}

.search-result__excerpt p {
    color: #4F5954;
}

/* Blog Page */

.blog-listing-container {
    padding: 50px 0;
    position: relative;
}

.blog-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.blog-post__col {
    margin-bottom: 30px;
}

.blog-post__item {
    background: #F5F8F8;
    color: #4F5954;
    margin-bottom: 15px;
    min-height: 100%;
    padding: 20px;
}

.blog-post__img-container {
    border: none;
}

.blog-post__img-container:hover {
    border: none;
}

.icon-shape {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}


@media (min-width: 768px) {
    .blog-post__item {
        padding: 30px 30px;
    }
}

@media (min-width: 1200px) {
    .blog-post__item {
        padding: 40px 45px;
    }
}

.blog-post__title__link {
    color: #04120C;
    border: none;
}

.blog-post__title__link:hover {
    border: none;
}

@media (min-width: 768px) {
    .blog-listing-container  {
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .blog-listing-container  {
        padding: 95px 0 110px;
    }
}

/* Service Post */
.service-areas-listing-container {
    padding: 50px 0;
    position: relative;
}

.service-areas-listing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

@media (min-width: 768px) {
    .service-areas-listing-container  {
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .service-areas-listing-container  {
        padding: 95px 0 110px;
    }
}


/* Post Custome style */
.wp-block-image {
    padding: 40px 0 10px;
    margin: 0;
}

.white-wysiwyg {
    padding: 30px 0;
}

.black-wysiwyg-wrapper {
    padding: 30px 0;
}

.blog-hero-image {
    padding-top: 50px;
}

@media (min-width: 768px) {
    .blog-hero-image {
        padding-top: 60px;
    }
    .wp-block-image {
        padding: 80px 0 15px;
    }
    .white-wysiwyg {
        padding: 40px 0;
    }
    .black-wysiwyg-wrapper {
        padding: 40px 0;
    }
}

@media (min-width: 1200px) {
    .blog-hero-image {
        padding-top: 95px;
    }
    .wp-block-image {
        padding: 95px 0 30px;
    }
    .white-wysiwyg {
        padding: 60px 0;
    }
    .black-wysiwyg-wrapper {
        padding: 60px 0;
    }
}

@media (max-width: 768px) {
    .wp-block-image img {
        height: auto;
    }
}
