.cta {
    position: relative;
    padding: 40px 0;
    text-align: center;
    background: #28B47A;
    color: #fff;
    z-index: 99;
}

.cta h3 {
    padding: 0 0 10px 0;
    color: #fff;
    font-weight: 700;
}

.cta .btn {
    color: #04120C;
    background: #FFFFFF;
}

.cta .btn:hover {
    color: #FFFFFF;
    background: #04120C;
}

@media (min-width: 768px) {
    .cta {
        padding: 60px 0;
    }
}

@media (min-width: 1200px) {
    .cta {
        padding: 60px 0;
    }

    .cta-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .cta .btn {
        margin-left: 90px;
    }

    .cta h3 {
        padding: 0 0 0 0;
    }
}
