
.white-wysiwyg {
    padding: 50px 0;
    color: #4F5954;
    position: relative;
    z-index: 9;
}

.skew {
    transform: skew(0 , -3deg);
}

.skew .wysiwyg-content {
    transform: skew(0 , 3deg);
}

.wysiwyg-content {
    position: relative;
    z-index: 20;
}

.wysiwyg-content img {
    height: auto;
}

.white-wysiwyg h4,
.white-wysiwyg h3 {
    padding-top: 20px;
}

.white-wysiwyg p,
.white-wysiwyg ul li {
    letter-spacing: 0.3px;
    line-height: 1.8em;
}

.example-btn {
    margin: 30px 0 45px;
}

@media (min-width: 768px) {
    .white-wysiwyg {
        padding: 75px 0;
    }
}

@media (min-width: 1200px) {
    .white-wysiwyg {
        padding: 95px 0 120px;
    }
    .white-wysiwyg p,
    .white-wysiwyg ul li {
        letter-spacing: 0.3px;
        line-height: 1.6em;
    }
}

/* gray-WYSIWYG */

.black-wysiwyg {
    position: relative;
    z-index: 20;
}

.black-wysiwyg-background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.black-wysiwyg-background img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    -o-object-fit: cover;
    font-family: 'object-fit: cover;'
}

.black-wysiwyg-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(4, 18, 12, 0.85);
    color: #E6E7E6;
    z-index: 9;
    position: relative;
    padding: 90px 0 50px 0;
}

.black-wysiwyg h2,
.black-wysiwyg h3,
.black-wysiwyg h4,
.black-wysiwyg h5 {
    color: #FFFFFF;
}

.black-wysiwyg h4,
.black-wysiwyg h3 {
    padding-top: 20px;
}

.black-wysiwyg p a:hover {
    color: #E1EFDF;
    border-bottom: 1px solid #E1EFDF;
}

.black-wysiwyg ul li:before {
    background: #E1EFDF;
}

.black-wysiwyg blockquote {
    color: #4F5954;
    background: #F5F8F8;
}

.black-wysiwyg blockquote.black-background {
    background: #4F5954;
    color: #E6E7E6;
}

@media (min-width: 768px) {
    .black-wysiwyg-wrapper {
        padding: 75px 0;
    }
}

@media (min-width: 1200px) {
    .black-wysiwyg-wrapper {
        padding: 95px 0;
    }
}

@media (min-width: 1500px) {
    .black-wysiwyg-wrapper {
        padding: 190px 0 95px 0;
    }
}
